{% extends "layout.html" %}

{% block page_content %}

<style>
    @font-face
    {
        font-family:'font_one';
        src:url(https://static.igem.wiki/teams/4242/wiki/acme-regular.ttf)
    }
    .p
    {
        font-family:'font_one';
        font-size:1rem;
    }
</style>

<head>
    <meta charset="UTF-8" />
    <title>Team:CUG-China/Notebook - 2022.igem.org</title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no">
    <link rel="stylesheet" href="{{ url_for('static', filename = 'headama.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename = 'notebook amazing/nb.css') }}">
</head>

<body >
    <section class="section main-banner" id="top" data-section="Intro">
        <img src="https://static.igem.wiki/teams/4242/wiki/background/b-part.png" alt="">
        <div class="header-text">
            <div class="caption">
                <div class="wave-text">
                    <span>Part</span>
                </div>
            </div>
        </div>
    </section>

    <div class="container">
        <!--側欄-->
          {% include "sider.html" %}
          <aside class="aside">
            <br>
            <div>
              <a class="pointer" href="#members">Members</a>
              <a class="pointer" href="#advisors">Advisors</a>
              <a class="pointer" href="#instructors">Instructors</a>
            </div>
            <br>
          </aside>
      
        <div class="row" id="move20">     
          <div class="col" id="Content">
            <!---Members--->
             <p class="target-fix" id="members"></p>
             <p style="margin-top: 50px;"></p>
            <h1 id="Members;" style="color: #243136;"><b>Members</b></h1>
            <hr style="border-top:5px solid gray;">
            <p style="font-size:25px; color: #696969; margin-top: 20px; margin-bottom: 5px;">
            <b style="color: #408080;">Team Leader</b> <b>Jiun-Jen Tsai</b>
            </p>
            <ul>
              <li>
                  <p><b>Yi-Jun Lan</b>, Wet Team Leader, IDT construct ordering, Bacteriocin construct designer, Bacteriocin-related primer design, Experiments (Bacteriocin, <i>dmpR</i>, Tyrosine functional test)</p>
              </li>
              <li>
                  <p><b>Chia-Hua Tsai</b>, Wet Team Member, Wet team-related infographics designer, Animation maker, Experiments (<i>tyrP</i>, <i>dmpR</i>)</p>
              </li>
              <li>
                  <p><b>Ting-Han Sung</b>, Wet Team Member, <i>pchR</i> construct designer, <i>pchR</i>-related primer designer, Experiments (<i>tyrP</i>, TAL, TAL functional test, <i>tyrP</i> functional test)</p>
              </li>
              <li>
                  <p><b>Yeoh Chuin Shung</b>, Wet Team Member, tyrosine ammonia-lyase (TAL) construct designer, TAL construct-related primer designer, Experiments (Knock out, Bacteriocin, TAL, <i>pchR</i>) </p>
              </li>
              <li>
                  <p><b>Hui Emmanuela Miriam</b>, Wet Team Member, tyrosine transporter (<i>tyrP</i>) construct designer, <i>tyrP</i>-related primer designer, Experiments (Knock out, Bacteriocin, TAL, <i>pchR</i>)</p>
              </li>
              <li>
                  <p><b>Meghiya Michelle</b>, Wet Team Member,  Experiments (Knock out, Bacteriocin, TAL, <i>pchR</i>), HP Member, in charge of Entrepreneurship</p>
              </li>
              <li>
                  <p><b>Sabrina Yeo Samuel</b>, Team Leader, Wet Team Member (Experiments - gene Knock out, Bacteriocin, TAL, <i>pchR</i>), HP Team Member, in charge of Integrated Human Practice</p>
              </li>
              <li>
                  <p><b>Tham Fu Jie</b>, Dry Team Leader, Modeling Team</p>
              </li>
              <li>
                  <p><b>Heng Ji Yu</b>, Vice Team Leader/Dry Team Member, Hardware Team</p>
              </li>
              <li>
                  <p><b>Chieh-En Hsieh</b>, Dry Team Member, Wiki Team</p>
              </li>
              <li>
                  <p><b>Yen-Chung Chen</b>, Dry Team Member, Wiki Team</p>
              </li>
              <li>
                  <p><b>Tzu-Huan Hsu</b>, Dry Team Member, Hardware Team</p>
              </li>
              <li>
                  <p><b>Hsin-Chieh Yu</b>, Dry Team Member, Modeling Team</p>
              </li>
              <li>
                  <p><b>Meng-Chien Lin</b>, HP team Leader, in charge of Public Education and Engagement</p>
              </li>
          </ul>
            <hr>
      
            <p style="font-size:25px; color: #696969; margin-top:20px; margin-bottom:5px;">
            <b>Wen-Wei Chang</b>
            </p>
            <ul style="font-size:20px; left-padding:60px; margin:0;">
            <li>Teaching us about immunology</li>
            <li>Suggesting our team to go on the topic of hybridoma and AID</li>
            </ul>
            <p style="margin-bottom:50px"></p>
          </div>
        </div>
      </div> 
<body>

{% endblock %}
