{% extends "layout.html" %}

{% block page_content %}

<style>

    @font-face
    {
        font-family:'font_one';
        src:url(https://static.igem.wiki/teams/4242/wiki/acme-regular.ttf)
    }
   .p1
    {
        font-family:'font_one';
        font-size:1.5rem;
        color:#f0f0f0;
    }
    
    @font-face
    {
        font-family:'font_two';
        src:url(https://uploads.igem.org/teams/4242/wiki/Overlock-Regular.ttf)

    }
   .o
    {
        font-family:'font_two';
        font-size:1.2rem;
        color:#f0f0f0;
    }
   .z2
    {
        font-family:'font_two';
        font-size:0.7rem;
        color:#f0f0f0;
    }
   .z3
    {
        font-family:'font_two';
        font-size:1.2rem;
        color:#f26b1f;
    }
    body
   {
        width:100%;
        height: auto;
        background-color: #21373d;
        overflow-y: scroll;
    }
    #move20
    {
      margin-left: 20%;
    }

    @media screen and (max-width: 992px) 
    {
      #move20 {
      margin-left: 0%;
    }
  }

</style>


<head>
    <meta charset="UTF-8" />
    <title>Team:CUG-China/Notebook - 2022.igem.org</title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no">
    <link rel="stylesheet" href="{{ url_for('static', filename = 'headama.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename = 'notebook amazing/nb.css') }}">
</head>

<body>
    <section class="section main-banner" id="top" data-section="Intro">
        <img src="https://static.igem.wiki/teams/4242/wiki/background/b-part.png" alt="">
        <div class="header-text">
            <div class="caption">
                <div class="wave-text">
                    <span>Attributions</span>
                </div>
            </div>
        </div>
    </section>

    <div class="container">
        <!--側欄-->
          {% include "sider.html" %}
          <aside class="aside">
            <br>
            <div>
              <a class="pointer" href="#members">Members</a>
              <a class="pointer" href="#advisors">Advisors</a>
              <a class="pointer" href="#pi">PI.</a>
              <a class="pointer" href="#form" >Form</a>
              <a class="pointer" href="#Partnership">Partnership</a>
            </div>
          </br>
          </aside>
      
        <div class="row" id="move20">     
          <div class="col" id="Content">
            <br>
            <h1 style="color:#f26b1f;font-family:'font_one';"><b>Bronze #2</b></h1> 
            <!---Members--->
             <p class="target-fix" id="members"></p>
             <p style="margin-top: 50px;"></p>
             <div class="p1">
            <h1 id="Members;" style="color:#f26b1f"><b>Members</b></h1> 
            </div> 
            <div class="o">
            <hr style="border-top:5px solid gray;">
            <ul>
              <li>
                  <p><b>Jian Liu</b>, Team Leader, Experiments, Collaboration, Videos, HP Member. Recruited team members, led the design and the construction of the biobircks, tested characterization including florescence intensity, c-di-GMP concentration, biofilm formation, etc. Organized the collaborations.</p>
              </li>
              <li>
                  <p><b>Xu Li</b>, Wiki Team, Art Design, Videos. Shooting igem videos, Wiki webpage construction, in charge of the art team.</p>
              </li>
              <li>
                  <p><b>Hongwei Chen</b>, Experiments. Participated in the construction of relevant plasmids and functional transformation of relevant plasmids, participated in the proof of concept of our engineered strains.</p>
              </li>
              <li>
                <p><b>Linhai Xiao</b>, Experiments, Collaboration. Built biosensor to convert c-di-GMP into fluorescence signal, participate in final presentation, participate in human practice.</p>
            </li>
            <li>
                <p><b>Yao Yao</b>, Modeling Team. Participate in final presentation, achieved gene expression prediction.</p>
            </li> 
              <li>
                  <p><b>Shuaiyu Chen</b>, Experiments, Collaboration, HP member. In charge of educational practice, attended the Central China iGEM Communication meeting, participate in experiment of biobrick engineering.</p>
              </li>
              <li>
                  <p><b>Zhelin Jiang</b>, Experiments, Collaboration, Information Garthering. Participated in the fluorescence detection and other experimental contents, part registration documentation.</p>
              </li>
              <li>
                <p><b>Ziwei Zhang</b>, Experiments, HP Member. Responsible for the team's Human Practice section, participated in completing the team wiki, participated in experiments, completed safety form and protocols.</p>
            </li> 
            <li>
                <p><b>Zongheng Wei</b>, Experiments, Collaboration, Information Garthering. Participated in completing the team wiki, participated in the team's external learning exchange activities. participated in collaborations like ARS 2022, CCiC, etc.</p>
            </li>
            <li>
                <p><b>Jiatong Yan</b>, Modeling Team. Particimodel part of the project, achieve gene expression prediction.</p>
            </li>
            <li>
                <p><b>Yi Zhong</b>, Wiki Team, Art Design. Participated in wiki page building and took charge of art work. responsible for making team logo and team clothing design.</p>
            </li>
              <li>
                <p><b>Zhifei Tian</b>, Experiments, Information Garthering. Participate in experiments, participated in completing the team wiki.</p>
            </li>
              <li>
                <p><b>Yuandong Liu</b>, Experiments, Collaboration. Participate in experiments, participated in HP.</p>
            </li>
              <li>
                <p><b>Yangjun Ma</b>, Experiments,  Collaboration. Team representative for ARS2022, participate in experiments.</p>
              </li>
              <li>
                <p><b>Jiayi Liu</b>, Art Design, Videos. Responsible for team art, animate the presentation, assist with web design.</p>
              </li>
              <li>
                <p><b>Qianqian Ren</b>, Experiments, Collaboration, HP member. Responsible for Human Practice, led the team to communicate with the Hydrobiology Institute. </p>
              </li>
              <li>
                <p><b>Yinghui Shao</b>, Wiki Team. Responsible for the construction of wiki webpage. </p>
              </li>
              <li>
                  <p><b>Shunhua Zhu</b>, Experiments, Collaboration. Preformed the partnership experiment for XMU-China, participate in human practice.</p>
              </li>
              <li>
                <p><b>Zifan Li</b>, Experiments, Information Garthering.  Translation work, searching for materials, get inspiration from other iGEMers.</p>
            </li>
          </ul>
          </hr>
          </div>
          <p style="text-align: center">
            <img src="https://static.igem.wiki/teams/4242/wiki/hp/dscf1026.jpg" alt="Pulpit rock" width="900" height="472"> 
          </p>
          <p style="text-align: center"><span class="z2">Team Members</p></span>

          <!---Advisors--->
          <p class="target-fix" id="advisors"></p>
          <p style="margin-top: 50px;"></p>
          <div class="p1">
         <h1 id="Advisors;" style="color:#f26b1f"><b>Advisors</b></h1> 
         </div> 
         <div class="o">
         <hr style="border-top:5px solid gray;">
         <ul>
          <p class="p1">Zhihao Luo</p1>
            <li><p>Guided the operation of relevant molecular experiments and put forward suggestions on molecular experiments.</p></li>
            <li><p>Ensure experimental safety and preparation of experimental instruments.</p></li>
            <li><p>Gave us lab safety training and lessons, taught us how to protect ourselves in an experiment.</p></li>
          <p class="p1">Yawei Shan</p1>
            <li><p>Responsible for the daily maintenance and safe use of the instrument.</p></li>
            <li><p>Instructed team members to use the instrument correctly.</p></li>
            <li><p>Analyzed experimental results and made further experimental plan.</p></li>
          <p class="p1">Xi Han</p1>
            <li><p>Did the preliminary work of the experiment.</p></li>
            <li><p>Gave us a series of safety education since the beginning, taught us basic skills required for an experiment, and guided us to use many instrument like HPLC, micro-plate reader and so on.</p></li>
            <li><p>Standardized the experimental operation of team members and guided the experimental contents of team members.</p></li>
            <li><p>Guided and participated in solving problems encountered during the experiment.</p></li>
          <p class="p1">Jiacheng Xu</p1>
            <li><p>Taught team members how to use instruments and experimental operation skills.</p></li>
            <li><p>Responsible for experimental safety work and the cleaning and arrangement of experimental instruments.</p></li>
            <li><p>Helped with the western blot experiment which comes from our partnership team, XMU_China.</p></li>
         </ul>
         </hr>
         </div>
          <!---Principal Investigators--->
          <p class="target-fix" id="pi"></p>
          <p style="margin-top: 50px;"></p>
          <div class="p1">
         <h1 id="P.I." style="color:#f26b1f"><b>PI.</b></h1> 
         </div> 
         <div class="o">
         <hr style="border-top:5px solid gray;">
         <ul>
          <p class="p1">Yidan Hu</p1>
            <li><p>Associate Prof. Yidan Hu as our primary PI recruited team members to build CUG-China; She also conceived the idea, provided laboratory, and gave financial support, as well as revised our Eniglish writing. Additionally, she provided effective supervision and training that helped us improve different skills, including English writing and speaking as well as trouble shooting. Our human practice also has been conducted with her help.</p>
          <p class="p1">Liang Shi</p1>
            <li><p>Prof. Shi provided laboratory and financial support. He also gave us a lot of constructive suggestions on our project. Meanwhile, he also helped us to build networks. For example, he invited Prof. Xiaoli Zeng from Institute of Hydrobiology of Chinese Academy of Sciences to give us a wonderful talk, and helped us to establish collaboration.</p></li>
          <p class="p1">Yiran Dong</p1>
            <li><p>Prof. Dong provided laboratory and financial support. She also gave us a lot of constructive suggestions on our project and human practices. Moreover, she helped coordinate with our lab manager and make our microplate-reader available in advance, speeding up our progress.</p></li>
          <p class="p1">Yongguang Jiang</p1>
            <li><p>Dr. Jiang taught us a lot on the principles and approaches of synthetic biology, such as gene assembling, genome-editing methods. During the process of the experiment, he helped us solve the problems of the culture of engineering bacteria and the acquisition of protein products. Besides, he is in charge of lab safety, and his supervision guaranteed that our experiments were done safely.</p></li>
        </ul>
        </hr>
        </div>

         <!---Attributions Table--->
         <p class="target-fix" id="form"></p>
         <p style="margin-top: 50px;"></p>
         <div class="p1">
        <h1 id="Form;" style="color:#f26b1f"><b>Form</b></h1> </div> 
        <hr style="border-top:5px solid gray;">
          <br/><br/>
        <p style="text-align: center">
          <img src="https://static.igem.wiki/teams/4242/wiki/background/attributions-table.png" alt="Pulpit rock" width="990" height="372"> 
        </p>

        <!---Partnership--->
        <p class="target-fix" id="Partnership"></p>
        <p style="margin-top: 50px;"></p>
        <div class="p1">
       <h1 id="Partnership" style="color:#f26b1f"><b>Partnership</b></h1> </div> 
       <hr style="border-top:5px solid gray;">
       <ul>
        <div class="o">
        <p>This year we adopted partnership with a great team XMU-China. We helped each other in many aspects. For more details about our attribution, please check <a href="https://2022.igem.wiki/cug-china/partnership" class="z3">https://2022.igem.wiki/cug-china/partnership</a></p>
         </div>
       </ul>
      </hr>
      </div> 
      </div>
    </div>
<body>

{% endblock %}
