{% extends "layout.html" %}

{% block page_content %}

<style>

@font-face
    {
        font-family:'font_one';
        src:url(https://static.igem.wiki/teams/4242/wiki/acme-regular.ttf)
    }
    .p1
    {
        font-family:'font_one';
        font-size:1.5rem;
        color:#f0f0f0;
    }
    
    @font-face
    {
        font-family:'font_two';
        src:url(https://uploads.igem.org/teams/4242/wiki/Overlock-Regular.ttf)

    }
    .o
    {
        font-family:'font_two';
        font-size:1rem;
        color:#f0f0f0;
    }
    .z1
    {
        font-family:'font_one';
        font-size:1.5rem;
        color:#f26b1f
    }
    .z2
    {
        font-family:'font_two';
        font-size:0.5rem;
        color:#f0f0f0
    }
    
    body
   {
        width:100%;
        height: auto;
        background-color: #21373d;
        overflow-y: scroll;
    }
</style>


<head>
    <meta charset="UTF-8" />
    <title>Team:CUG-China/Notebook - 2022.igem.org</title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no">
    <link rel="stylesheet" href="{{ url_for('static', filename = 'headama.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename = 'notebook amazing/nb.css') }}">
</head>

<body>
    <section class="section main-banner" id="top" data-section="Intro">
        <img src="https://static.igem.wiki/teams/4242/wiki/background/pk-2.png" alt="">
        <div class="header-text">
            <div class="caption">
                <div class="wave-text">
                    <span>Contribution</span>
                </div>
            </div>
        </div>
    </section>

    <div class="container">
          {% include "sider.html" %}
          <aside class="aside">
            <br>
            <div>
              <a class="pointer" href="#Overview">Overview</a>
              <a class="pointer" href="#NYCU-Taipei">Team NYCU-Taipei</a>
              <a class="pointer" href="#ARS 2022">ARS 2022</a>
              <a class="pointer" href="#CCIC">CCIC</a>
            </div>
          </br>
          </aside>
      
        <div class="row" id="move20">     
          <div class="col" id="Content">
          <!---Overview--->
          <p class="target-fix" id="Overview"></p>
          <p style="margin-top: 50px;"></p>
          <div class="p1">
         <h1 id="Overview" style="color: #f26b1f;"><b>Overview</b></h1> 
         </div> 
         <div class="o">
         <hr style="border-top:5px solid #f0f0f0;">
         <ul>
            <p>Completing a project requires not only a concerted effort by team members, but also communication with other iGEM teams. We shared experience, got inspiration and solved problems through communication, which benefits our team a lot. We have cooperated with other teams, including NYCU-Taipei and XMU-China, and shared our experience with CCU-Taiwan and CSMU-Taiwan in the conference of synthetic Biology Research Society. The Central China iGEM Communication hosted by WHU-China let us know the experimental ideas of many other teams and get the information of how to solve common experimental problems. Moreover, their suggestions opened new ideas for our experiment.</p>
            <p>In the process of communication, we learned various ways to search information and made great improvements for our experimental design. In addition to in-depth study and communication, we also learned many experimental skills and improved lab safety. And we also provided a lot of constructive suggestions for other teams and gave our perspective on their experiments to help them solve problems.</p>
        </ul>
         </hr>
         </div>
        
        <!---NYCU-Taipei--->
        <p class="target-fix" id="NYCU-Taipei"></p>
        <p style="margin-top: 50px;"></p>
        <div class="p1">
       <h1 id="NYCU-Taipei" style="color: #f26b1f;"><b>Team NYCU-Taipei</b></h1> 
       </div> 
       <div class="o">
       <hr style="border-top:5px solid #f0f0f0;">
       <ul>
          <p>We had an online communication with NYCU-formosa. During the online meeting, we first introduced own projects, which makes iGEMers from two teams fully understand the each other's projects. During the Q&A session, iGEMers had a wonderful discussion. Finally, we shared our difficulties in the project, and the two teams with different research background provided constructive suggestions to each other from their own perspectives.</p>
          <p>They suggested that we can research information on biochip and compare the advantages of our methods. They also reminded us to think about the preservation and safety of bacteria before detection. For their experiment, we proposed that PilA protein is a part of conductive nanowires for Geobacter, and its electrical conductivity may be weak in the absence of other proteins. Hopefully, our suggestion can help them to improve the experiment.</p>
          
       </ul>
       </hr>
       </div>

       <!---ARS 2022--->
       <p class="target-fix" id="ARS 2022"></p>
       <p style="margin-top: 50px;"></p>
       <div class="p1">
      <h1 id="ARS 2022" style="color: #f26b1f;"><b>ARS 2022</b></h1> 
      </div> 
      <div class="o">
      <hr style="border-top:5px solid #f0f0f0;">
      <ul>
         <p>We took part in the 13th Asian Federation of Biotechnology Regional Symposium(ARS 2022), organized by Biotechnology and Biochemical Engineering Society of Taiwan. It is a major AFOB activity for research exchange. Due to the COVID-19, it was held in a hybrid mode. Participants like us who can not went to Kimen in person could be able to attend online. In the joint session, under the theme of ‘Synthetic Biology and Protein Engineering’, 14 iGEM teams from different places in Asia gather together and shared their experience. We had a wonderful discussion with many excellent iGEM teams like XMU-China, Waseda_Tokyo. We also had a Q&A session and we are pleased to answer the question they brought about our biosensor.</p>
         
      </ul>
      </hr>
      </div>

      <!---CCIC--->
      <p class="target-fix" id="CCIC"></p>
      <p style="margin-top: 50px;"></p>
      <div class="p1">
     <h1 id="CCIC" style="color: #f26b1f;"><b>CCIC</b></h1> 
     </div> 
     <div class="o">
     <hr style="border-top:5px solid #f0f0f0;">
     <ul>
        <p>Together with Team HBUT-China, Team HUST-China and Team HZAU-China, we attended the Central China iGEM Communication hosted by Team WHU-China. We introduced our own projects, shared our experiences, and discussed how to improve our projects. In the discussion section, we asked WHU-China a question about the reliability of using the temperature control switch to kill the engineered bacteria released from body. This way to avoid the leakage of engineered bacteria may not be able to kill the engineered bacteria because there is little difference between the room temperature and human body temperature. We suggested that they need to consider more about safety.</p>
        <p>We also received many suggestions from other teams, which is very helpful to us. For example, Team HZAU-China reminded us that we should cooperate more with pharmaceutical companies to verify the results of our experiments. Team HUST-China proposed that we should test the performance of our biosensor in more engineered bacteria and expand the application scope of our experimental results. In the following work, we thought carefully about the suggestions from other teams, and improved the application scope of biosensors. This Central China iGEM Communication broadened our vision and greatly improved the safety and rationality of our experiment.</p>
    </ul>
     </hr>
     </div>

     
      </hr>
      </div> 
      </div>
    </div>
<body>

{% endblock %}
