{% extends "layout.html" %}

{% block page_content %}

<style>

@font-face
    {
        font-family:'font_one';
        src:url(https://static.igem.wiki/teams/4242/wiki/acme-regular.ttf)
    }
    .p1
    {
        font-family:'font_one';
        font-size:1.5rem;
        color:#f0f0f0;
    }
    
    @font-face
    {
        font-family:'font_two';
        src:url(https://uploads.igem.org/teams/4242/wiki/Overlock-Regular.ttf)

    }
    .o
    {
        font-family:'font_two';
        font-size:1rem;
        color:#f0f0f0;
    }
    .z1
    {
        font-family:'font_one';
        font-size:1.0rem;
        color:#f26b1f
    }
    body
   {
        width:100%;
        height: auto;
        background-color: #21373d;
        overflow-y: scroll;
    }
</style>


<head>
    <meta charset="UTF-8" />
    <title>Team:CUG-China/Notebook - 2022.igem.org</title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no">
    <link rel="stylesheet" href="{{ url_for('static', filename = 'headama.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename = 'notebook amazing/nb.css') }}">
</head>

<body>
    <section class="section main-banner" id="top" data-section="Intro">
        <img src="https://static.igem.wiki/teams/4242/wiki/background/pk-2.png" alt="">
        <div class="header-text">
            <div class="caption">
                <div class="wave-text">
                    <span>Engineering</span>
                </div>
            </div>
        </div>
    </section>

    <div class="container">
          {% include "sider.html" %}
          <aside class="aside">
            <br>
            <div>
              <a class="pointer" href="#Overview">Overview</a>
              <a class="pointer" href="#Cycle 1">Cycle 1</a>
              <a class="pointer" href="#Cycle 2">Cycle 2</a>
              <a class="pointer" href="#Cycle 3">Cycle 3</a>
            </div>
          </br>
          </aside>
      
        <div class="row" id="move20">     
          <div class="col" id="Content">
          <!---Overview--->
          <p class="target-fix" id="advisors"></p>
          <p style="margin-top: 50px;"></p>
          <div class="p1">
         <h1 id="Overview;" style="color: #f26b1f;"><b>Overview</b></h1> 
         </div> 
         <div class="o">
         <hr style="border-top:5px solid #f0f0f0;">
         <ul>
            <p>In order to connect the c-di-GMP level to the reporter gene, we chose the signaling system FleQ protein from <i>P. aeruginosa</i> in which the FleQ protein functions as both a repressor and an activator to control gene expression from the <i>pel</i> operon promoter in response to c-di-GMP. However, how to make this system work in other bacteria is a big challenge. We have experienced three engineering cycles to construct a preliminary functional biosensor.</p>
         </ul>
         </hr>
         </div>
        
        <!---Cycle 1--->
        <p class="target-fix" id="advisors"></p>
        <p style="margin-top: 50px;"></p>
        <div class="p1">
       <h1 id="Cycle 1;" style="color: #f26b1f;"><b>Cycle 1: Test the performance of promotor P<span class="z1">pel</span> in <i>E.coli</i>  and <i>S. oneidensis</i></b></h1> 
       </div> 
       <div class="o">
       <hr style="border-top:5px solid #f0f0f0;">
       <ul>
        <p class="p1">Zhihao Luo</p1>
          <li><p>Guided the operation of relevant molecular experiments and put forward suggestions on molecular experiments.</p></li>
          <li><p>Ensure experimental safety and preparation of experimental instruments.</p></li>
          <li><p>Gave us lab safety training and lessons, taught us how to protect ourselves in an experiment.</p></li>
       </ul>
       </hr>
       </div>

       <!---Cycle 2--->
       <p class="target-fix" id="advisors"></p>
       <p style="margin-top: 50px;"></p>
       <div class="p1">
      <h1 id="Cycle 2;" style="color: #f26b1f;"><b>Cycle 2: Construct the tandem promotor</b></h1> 
      </div> 
      <div class="o">
      <hr style="border-top:5px solid #f0f0f0">
      <ul>
       <p class="p1">Zhihao Luo</p1>
         <li><p>Guided the operation of relevant molecular experiments and put forward suggestions on molecular experiments.</p></li>
         <li><p>Ensure experimental safety and preparation of experimental instruments.</p></li>
         <li><p>Gave us lab safety training and lessons, taught us how to protect ourselves in an experiment.</p></li>
      </ul>
      </hr>
      </div>

      <!---Cycle 3--->
      <p class="target-fix" id="Cycle 3"></p>
      <p style="margin-top: 50px;"></p>
      <div class="p1">
     <h1 id="Cycle 3;" style="color: #f26b1f"><b>Cycle 3: Add the existence of FleQ</b></h1> 
     </div> 
     <div class="o">
     <hr style="border-top:5px solid #f0f0f0;">
     <ul>
      <p class="p1">Zhihao Luo</p1>
        <li><p>Guided the operation of relevant molecular experiments and put forward suggestions on molecular experiments.</p></li>
        <li><p>Ensure experimental safety and preparation of experimental instruments.</p></li>
        <li><p>Gave us lab safety training and lessons, taught us how to protect ourselves in an experiment.</p></li>
     </ul>
     </hr>
     </div>

     
      </hr>
      </div> 
      </div>
    </div>
<body>

{% endblock %}
