{% extends "layout.html" %}

{% block page_content %}

<style>

@font-face
    {
        font-family:'font_one';
        src:url(https://static.igem.wiki/teams/4242/wiki/acme-regular.ttf)
    }
    .p1
    {
        font-family:'font_one';
        font-size:1.5rem;
        color:#f0f0f0;
    }
    
    @font-face
    {
        font-family:'font_two';
        src:url(https://uploads.igem.org/teams/4242/wiki/Overlock-Regular.ttf)

    }
    .o
    {
        font-family:'font_two';
        font-size:1.2rem;
        color:#f0f0f0;
    }
    .z1
    {
        font-family:'font_one';
        font-size:1.5rem;
        color:#f26b1f
    }
    .z2
    {
        font-family:'font_two';
        font-size:0.7rem;
        color:#f0f0f0
    }
    
    body
   {
        width:100%;
        height: auto;
        background-color: #21373d;
        overflow-y: scroll;
    }
    #move20
    {
      margin-left: 20%;
    }

    @media screen and (max-width: 992px) 
    {
      #move20 {
      margin-left: 0%;
    }
</style>


<head>
    <meta charset="UTF-8" />
    <title>Team:CUG-China/Notebook - 2022.igem.org</title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no">
    <link rel="stylesheet" href="{{ url_for('static', filename = 'headama.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename = 'notebook amazing/nb.css') }}">
</head>

<body>
    <section class="section main-banner" id="top" data-section="Intro">
        <img src="https://static.igem.wiki/teams/4242/wiki/background/b-imp.png" alt="">
        <div class="header-text">
            <div class="caption">
                <div class="wave-text">
                    <span>Implementation</span>
                </div>
            </div>
        </div>
    </section>

    <div class="container">
          {% include "sider.html" %}
          <aside class="aside">
            <br>
            <div>
              <a class="pointer" href="#Overview">Overview</a>
              <a class="pointer" href="#Part I">Part I</a>
              <a class="pointer" href="#Part II">Part II</a>
              <a class="pointer" href="#Part III">Part III</a>
              <a class="pointer" href="#Reference">Reference</a>
            </div>
          </br>
          </aside>
      
        <div class="row" id="move20">     
          <div class="col" id="Content">
          <!---Overview--->
          <p class="target-fix" id="Overview"></p>
          <p style="margin-top: 50px;"></p>
          <div class="p1">
         <h1 id="Overview" style="color: #f26b1f;"><b>Overview</b></h1> 
         </div> 
         <div class="o">
         <hr style="border-top:5px solid #f0f0f0;">
         <ul>
            <p>Biofilms are ubiquitous and have negative effects. For example, it has been reported that approximately 10-1000-fold higher doses of antibiotic are often required for the treatment of biofilm-associated infection compared to planktonic cells<sup>[1]</sup>, and biofilm-associated corrosion results into around US$4,000 billion loss per year, which contributes two-thirds of the global financial impact of biofilms<sup>[2]</sup>. Additionally, undesirable formation of biofilms on water purification membrane surfaces, known as biofouling, is of particular concern in membrane processes, causing a notable decline in membrane flux, which thus requires higher energy consumption to overcome the biofilm resistance<sup>[3]</sup>.</p>
            <p>To control 'bad' biofilms, we need to develop effective method for studying biofilm formation. C-di-GMP is central regulator of biofilm formation in a wide range of bacteria. However, its real-time monitoring is very challenging. In this project, we describe the design of a transcription-based fluorescent reporter that is readily adaptable for gauging c-di-GMP levels in different bacteria. After the functional test, we are sure that our biosensor is able to transfer the c-di-GMP level to the fluorescence signal, which is a good indicator for evaluating the ability of bacteria to form biofilms. indicates the biofilm formation. In future, we will improve the dynamic range of the biosensor and explore its practical potential.</p>
        </ul>
         </hr>
         </div>
        
        <!---Part I--->
        <p class="target-fix" id="Part I"></p>
        <p style="margin-top: 50px;"></p>
        <div class="p1">
       <h1 id="Part I" style="color: #f26b1f;"><b>Part I End user & Usage</b></h1> 
       </div> 
       <div class="o">
       <hr style="border-top:5px solid #f0f0f0;">
       <ul>
          <p>Our biosensor has a wide range of target users. Since c-di-GMP is near-ubiquitous second messenger that coordinates biofilm formation, any professions associated with biofilms can be the potential users. Here we take some examples:</p>
          <p>In the drug industry, our biosensor can be of great help for the screening of biofilm-targeting drugs that can effectively treat the infection associated with pathogenic biofilms. We have confirmed that the bacteria with our biosensor exhibited reduced fluorescence when they are exposed with biofilm-dispersing agents. Pharmaceutical scientists can use our biosensor to high-throughput screening compounds that can reduce c-di-GMP to disperse biofilms. This function may provide a new approach for biofilm infection therapeutic and anti-biofilm drug development. </p>
            <p>Additionally, microbial corrosion is a common form of metal deterioration that negatively affects many industrial applications including petroleum pipelines, offshore platforms and ships, nuclear power plant facilities, medical instruments, and even space stations<sup>[4]</sup>.The biocorrosion is greatly associated with the that electrochemically active biofilms (EABs) are formed by electroactive bacteria with extracellular electron donors or acceptors. Our biosensor also can be used for the high-throughput screening of chemicals or nanomaterials that can reduce intracellular c-di-GMP of electroactive bacteria.</p>
          <p>Beyond drug development and anti-corrosion protection, biofilm biologists can also be benefit from our biosensor. Although regulatory role of c-di-GMP in mediating biofilm formation have been found in many bacteria, investigating its regulatory mechanism is still challenging because c-di-GMP displays a dynamic change during the biofilm life cycle including attachments, maturation and dispersal. It is very significant for the mechanism study of biofilm formation to monitor c-di-GMP level in real time. Our biosensor provides a powerful tool for the study of biofilm biology.</p>
        </ul>
       </hr>
       </div>

       <!---Part II--->
       <p class="target-fix" id="Part II"></p>
       <p style="margin-top: 50px;"></p>
       <div class="p1">
      <h1 id="Part II" style="color: #f26b1f;"><b>Part II Safety</b></h1> 
      </div> 
      <div class="o">
      <hr style="border-top:5px solid #f0f0f0;">
      <ul>
         <p>We fully complied with iGEM Part II policy during the whole experiment period. We didn't release any of our engineered bacteria into the environment. All validation was done in the laboratory.</p>
         <P>The product orientation of our biosensor is to provide a useful tool for the anti-biofilm method developers or biofilm biologist. So, the application area of the biosensor should be in the lab that has enough safety producers. One thing that we need to specially point out is that, we tested our biosensor in E.coli and S. oneidensis, both of them are nonpathogen. If our users want to test the pathogenic biofilm using our biosensor, they must make sure that they have qualified labs and restrict follow the associated rules and laws.</P>
      </ul>
      </hr>
      </div>

      <!---Part III--->
      <p class="target-fix" id="Part III"></p>
      <p style="margin-top: 50px;"></p>
      <div class="p1">
     <h1 id="Part III" style="color: #f26b1f;"><b>Part III Challenge</b></h1> 
     </div> 
     <div class="o">
     <hr style="border-top:5px solid #f0f0f0;">
     <ul>
        <p>Although we have demonstrated that our biosensor can indicate the decrease in intracellular c-di-GMP levels by producing the easily detected signals, it still needs the further improvements.</p>
        <p>One of challenges is the wide application of our biosensor in different bacteria because it requires the broad-host-range plasmid, promoter and RBS. Another challenges is the low stability of biosensor in different bacteria. Since the native concentration of c-di-GMP varies in different microbes, the working performance of our sensor may be unstable. The good performance of biosensor requires the optimized interaction between repressor FleQ and c-di-GMP. Once the host is changed, we need to optimize FleQ expression level based on the native c-di-GMP concentration of new host. Currently, we used arabinose-inducible promoter to control FleQ expression. However, arabinose can be used as inducer in some bacteria because arabinose can be used as carbon source. In future work, we will focus on constructing the library of a constitutive promoter to regulate FleQ expression at different levels.</p>
        <p>In conclusion, our project has a wide range of application prospects. Pharmaceuticals companies, metal industry, scientists, medical workers and environmental protection technology companies can use this tool to develop new products in different fields under the concept of c-di-GMP detection, to gain a more comprehensive understanding of biofilm mechanism and make contributions to the improvement of biofilm study and prevent in the long run.</p>
    </ul>
     </hr>
     </div>

     <!---Reference--->
     <p class="target-fix" id="Reference"></p>
     <p style="margin-top: 50px;"></p>
     <div class="p1">
    <h1 id="Reference" style="color: #f26b1f;"><b>Reference</b></h1> 
    </div> 
    <div class="o">
    <hr style="border-top:5px solid #f0f0f0;">
    <ul>
       <p><span class="z2">[1]	Hatt J K, Rather P N. Role of bacterial biofilms in urinary tract infections[J]. Bacterial Biofilms, 2008:163-192.</span></p>
       <p><span class="z2">[2]	Hofer U. The cost of biofilms[J]. Nat Rev Microbiol, 2022,20(8):445.</span></p>
       <p><span class="z2">[3]	Komlenic R. Rethinking the causes of membrane biofouling[J]. Filtration & separation, 2010,47(5):26-28.</span></p>
       <p><span class="z2">[4]	Zhou E, Li F, Zhang D, et al. Direct microbial electron uptake as a mechanism for stainless steel corrosion in  aerobic environments[J]. Water Res, 2022,219:118553.</span></p>
    </ul>
    </hr>
    </div>

      </hr>
      </div> 
      </div>
    </div>
<body>

{% endblock %}
