<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="https://static.igem.wiki/common/icons/favicons/igem-2022.svg"/>
    <link rel="license" href="https://creativecommons.org/licenses/by/4.0/"/>
    <link href="{{ url_for('static', filename = 'bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename = 'style.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename = 'homepage.css') }}" rel="stylesheet">
    <!--<title>{% block title %}{% endblock %} | CUG-China - iGEM 2022</title>-->
</head>
<body>


<div id="loader-wrapper">
    <span class="loader">
          <img src="https://static.igem.wiki/teams/4242/wiki/123.gif">
    </span>
</div>
<style>

    @media screen and (max-width: 720px) 
    {
      .loader 
      {
        width: 100% !important;
      }
    }

    #loader-wrapper 
    {
      width: 100%;
      height: 100%;
      position: fixed;
      top: 0;
      left: 0;
      z-index: 100000;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
    }
    .loader 
    {
      width: 100%;
    }

    .loader img 
    {
      width: 100%;
    }
    footer
    {
    position:relative;
    left:-142px;
    width: 120%;
    height:100%;
    }
    @font-face
    {
        font-family:'font_one';
        src:url(https://static.igem.wiki/teams/4242/wiki/acme-regular.ttf)
    }
    .p3
    {
        font-family:'font_one';
        font-size:3rem,!important;
        color:#f26b1f;
    }
    .s
    {
        color:#f0f0f0;
    }
    .y
    {
        opacity: 1.0;
    }

  </style>
  {% include 'menu.html' %}


<!--page1-->
<main id="fullpage">

<section id="" class="section">
    <figure class="d-flex flex-column justify-content-center align-items-center px-lg-3">
        <p style="text-align: center">
        <a class="img-full" href="https://static.igem.wiki/teams/4242/wiki/background/b-face.png" target="_blank"><img src="https://static.igem.wiki/teams/4242/wiki/background/b-face.png" alt="" title="" style="width:80%;"></a>
      </p>
    </figure>  
</section>

<!--page1-->
<section id="" class="section">
    <div class="container-fluid wrapper text-wrapper center-adjust">
      <div class="container-fluid py-2 d-flex flex-column justify-content-center align-items-center" style="min-height: 100%;">
            <div class="video-container" style="position:relative;top: -20px;">
                <p style="text-align: center"><span class="p3">A Broadly Applicable Transcription-Based C-di-GMP Biosensor</span></p>
                <iframe title="" width="840" height="472.5" src="https://video.igem.org/videos/embed/20dc2298-59e0-4d3c-83ce-14edd98b92da" frameborder="0" allowfullscreen="" sandbox="allow-same-origin allow-scripts allow-popups"></iframe>
            </div>
      </div>
    </div>
  </section>

<!--page2-->
<section id="" class="section">
  <div class="container-fluid wrapper text-wrapper center-adjust">
    <div class="container-fluid py-2 d-flex flex-column justify-content-center align-items-center" style="min-height: 100%;">
      <div class="row">
        <div class="col-lg py-lg-0 py-2" style="position:relative;top: -50px;">
          <h2 style="text-align:center;"> </h2>
          <p><span class="p1">Microbes can exist as either planktonic or biofilm. A biofilm is a complete architecture including cells and a self-produced matrix of extracellular polymeric substances (EPS). EPS mainly contain polysaccharide, protein and extracellular DNA. Since biofilm presents the prevalent mode of microbial growth in natural, engineered and medical settings, the investigation of biofilm has become an attractive field of research.</span></p>
          <p><span class="p1">Once pathogens biofilm is formed in the human body, it will be rather hard to eradicate. The three-dimensional biofilm structure formed by EPS can effectively protect bacteria and become a natural barrier to prevent antibiotics from penetrating the biofilm. Approximately 10-1000 times more antibiotic doses are typically required to kill pathogen biofilms compared to planktonic cells. Therefore, we need to investigate ways to inhibit/disperse biofilm formation, one of which is to develop drugs that inhibit the growth of biofilms or disperse existing biofilms. By degrading biofilm in advance, we can raise the efficiency of antibiotics.</span></p>
        </div>
        <div class="col-lg py-lg-0 py-2">
          <figure class="d-flex flex-column justify-content-center align-items-center px-lg-3">
            <a class="img-full" href="https://static.igem.wiki/teams/4242/wiki/brief-strokes/11.png" target="_blank"><img src="https://static.igem.wiki/teams/4242/wiki/brief-strokes/11.png" alt="" title="" style="width:80%;position:relative;left:50px;top: -50px;"></a>
          </figure>  
        </div>
      </div>
    </div>
  </div>
</section>

<!--page3-->
<section id="" class="section">
  <div class="container-fluid wrapper text-wrapper center-adjust">
    <div class="container-fluid py-2 d-flex flex-column justify-content-center align-items-center" style="min-height: 100%;">
      <div class="row">
        <div class="col-lg py-lg-0 py-2">
          <figure class="d-flex flex-column justify-content-center align-items-center px-lg-3">
            <a class="img-full" href="https://static.igem.wiki/teams/4242/wiki/index/2.png" target="_blank"><img src="https://static.igem.wiki/teams/4242/wiki/index/2.png" alt="" title="" style="width:80%;position:relative;left:10px;top: -50px;"></a>
          </figure>      
        </div>
        <div class="col-lg py-lg-0 py-2">
            <br>
          <p><span class="p1">Some chemicals often affect biofilm formation by interfering with chemical signaling systems essential in biofilm formation. One of essential signaling networks, mediated by intracellular secondary messenger bis-(3'-5') cyclic dimeric guanosine monophosphate(c-di-GMP) which regulates important events in biofilm formation and dispersal in a wide range of bacteria, has attracted much interest as a target for biofilm control. There have been numerous studies showing that maintaining a low level of c-di-GMP efficiently attenuates biofilm formation and provoking a decrease in intracellular c-di-GMP levels can disperse preformed biofilms. Therefore, the development of biofilm-inhibiting/dispersing agents targeting c-di-GMP signaling would efficiently combat biofilm formation or induce the dispersal of preformed biofilms.</span></p>
        </div>
      </div>
    </div>
  </div>
</section>

<!--page4-->
<section id="" class="section">
  <div class="container-fluid wrapper text-wrapper center-adjust">
    <div class="container-fluid py-2 d-flex flex-column justify-content-center align-items-center" style="min-height: 100%;">
      <div class="row">
        <div class="col-lg py-lg-0 py-2">
          <figure class="d-flex flex-column justify-content-center align-items-center px-lg-3">
            <a class="img-full" href="https://static.igem.wiki/teams/4242/wiki/index/1.png" target="_blank"><img src="https://static.igem.wiki/teams/4242/wiki/index/1.png" alt="" title="" style="width:70%;position:relative;left:20px;top: -100px;"></a>
          </figure>      
        </div>
        <div class="col-lg py-lg-0 py-2">
          <br><br>
          <p><span class="p1">Detecting c-di-GMP concentration is an essential entry point for the identification of biofilm-inhibiting/dispersing agents that target c-di-GMP metabolism. Two commonly used methods for c-di-GMP measurement are phenotype-based screens for motility and mass spectrometry(MS) analysis of cell extracts. However, the first method shows low sensitivity for c-di-GMP levels and the MS-based method is challenged by the complex sample preparation and long analysis time.</span></p>
        </div>
      </div>
    </div>
  </div>
</section>

<!--page4-->
<section id="" class="section">
    <div class="container-fluid wrapper text-wrapper center-adjust">
      <div class="container-fluid py-2 d-flex flex-column justify-content-center align-items-center" style="min-height: 100%;">
        <div class="row">
          <div class="col-lg py-lg-0 py-2">
            <figure class="d-flex flex-column justify-content-center align-items-center px-lg-3">
              <a class="img-full" href="https://static.igem.wiki/teams/4242/wiki/brief-strokes/33.png" target="_blank"><img src="https://static.igem.wiki/teams/4242/wiki/brief-strokes/33.png" alt="" title="" style="width:80%;position:relative;top: -50px;"></a>
            </figure>      
          </div>
          <div class="col-lg py-lg-0 py-2">
            <br><br><br>
            <p><span class="p1">In this year, we construct a c-di-GMP biosensor that contains a transcription factor FleQ originated from Pseudomonas aeruginosa, a tandem promoter PcI/pel being composed of a constitutive promoter PcI and a c-di-GMP responsive promoter Ppel, as well as a fluorescent protein GFP as a reporter. The results show that the biosensor is able to indicate the decreased c-di-GMP level by providing a fluorescent readout in Escherichia coli BL21 and Shewanella oneidensis MR-1. Furthermore, we show that the reporter can identify the agents that reduce the intracellular level of c-di-GMP in BL21 and MR-1.</span></p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!--page2-->
<section id="" class="section">
    <div class="container-fluid wrapper text-wrapper center-adjust">
      <div class="container-fluid py-2 d-flex flex-column justify-content-center align-items-center" style="min-height: 100%;">
        <div class="row">
          <div class="col-lg py-lg-0 py-2">
            <h2 style="text-align:center;"> </h2>
            <br><br><br><br>
            <p><span class="p1">This project will construct the first c-di-GMP biosensor that is able to work in different bacteria. It has potential to effectively screen c-di-GMP-targeted drugs. This will promote the study regarding the regulation of biofilm formation and improve the field of biofilm engineering, which has important theoretical implications and technological value for the development of biofilm study.</span></p>
          </div>
          <div class="col-lg py-lg-0 py-2">
            <figure class="d-flex flex-column justify-content-center align-items-center px-lg-3">
              <!-- put link in href &amp; src-->
              <a class="img-full" href="https://static.igem.wiki/teams/4242/wiki/brief-strokes/55.png" target="_blank"><img src="https://static.igem.wiki/teams/4242/wiki/brief-strokes/55.png" alt="" title="" style="width:90%;position:relative;top: -30px;"></a>
            </figure>  
          </div>
        </div>
      </div>
    </div>
  </section>

<section id="" class="section fp-auto-height">
  <!--htmlfooter start-->
  <div class="container footer-container">
    <footer class="pt-5 pb-5 footer py-5 mt-5 bg-dark text-dark">

        <hr style="border-top:10px solid #f26b1f" class="y">
        <hr style="border-top:10px solid #f26b1f" class="y">
       <!-- Sponsors -->
       <div class="container">
         <p style="text-align: center">
             <img src="https://static.igem.wiki/teams/4242/wiki/brief-strokes/cug2.png" alt="Pulpit rock" width="160" height="160"> 
             <img src="https://static.igem.wiki/teams/4242/wiki/brief-strokes/c.png" alt="Pulpit rock" width="150" height="150"> 
             <img src="https://static.igem.wiki/teams/4242/wiki/brief-strokes/a.png" alt="Pulpit rock" width="148" height="148"> 
             <img src="https://static.igem.wiki/teams/4242/wiki/brief-strokes/b.png" alt="Pulpit rock" width="153" height="153"> 
             <hr style="border-top:3px solid #f26b1f" width="100%"  class="y">
           </p>
     
           <!-- Social media -->
             <p style="text-align: center">
             <img src="https://static.igem.wiki/teams/4242/wiki/brief-strokes/phone-number.png" width="60px" height="60px">
             <img src="https://static.igem.wiki/teams/4242/wiki/brief-strokes/e-mail.png" width="60px" height="60px">
             <img src="https://static.igem.wiki/teams/4242/wiki/brief-strokes/school.png" width="60px" height="60px">
             <img src="https://static.igem.wiki/teams/4242/wiki/brief-strokes/message.png" width="60px" height="60px">
             <br>
             <b class="s">Tel 027-67883152</b><br>
             <b class="s">China University of Geosciences (Wuhan)</b></p>
       </div>
     
     
       <div class="container" style="text-align:center;">
         <hr style="color:white;">
         <!-- The following MUST be on every page: license information and link to the repository on gitlab.igem.org -->
         <p class="mb-0"><small><a class="subfoot" href="https://creativecommons.org/licenses/by/4.0/" rel="license">© 2022 - Content on this site is licensed under a Creative Commons Attribution 4.0 International license</a>.</small>
         </p><p class="mb-0"> <small><a href="https://gitlab.igem.org/2022/cug-china">The repository used to create this website is available at https://gitlab.igem.org/2022/cug-china</a>.</small></p>
       </div>
     
     
     
     </footer>

    </div>
    <!--htmlfooter end-->
  </section>
  </main>
<script src="{{ url_for('static', filename = 'homepage/jquery-3_4_1_min_js_4_') }}"></script>
<script src="{{ url_for('static', filename = 'homepage/scrolloverflow_min_js') }}"></script>
<script src="{{ url_for('static', filename = 'homepage/fullpage_min_js') }}"></script>


<script>
$(".bread").removeClass('d-lg-block'); 
$(window).on("load", function(){
    $('#fullpage').fullpage({
        keyboardScrolling: true,
        scrollOverflow: true,
        navigation: true,
		navigationPosition: 'right'
	});

    $("a.down").click(function(e){
        try {
            e.preventDefault();
            fullpage_api.moveSectionDown();
        } catch(exp) {
            alert('An error occurred and I need to write some code to handle this!');
            console.log(exp)
        }
    });
    $("a.down").hover(function(){
        $(this).removeClass("bounce")
    },function(){
        $(this).addClass("bounce")
    })
    $('.center-adjust').css('padding-top', $('nav').height());
    $(window).resize(function () {
        $('.center-adjust').css('padding-top', $('nav').height());
    });
  });
</script>

       <div class="visualClear"></div>



  <!-- Wiki Tools: Teams are allowed to remove it -->
  {% include 'wiki-tools.html' %}

  <!-- Bootstrap Bundle with Popper -->
  <script src="{{ url_for('static', filename = 'bootstrap.bundle.min.js') }}"></script>

  <script>
    var loader = document.getElementById("loader-wrapper");
    window.addEventListener("load", function(){
      loader.style.display = "none"
    })
  </script>

</body>
