{% extends "layout.html" %}

{% block page_content %}


<head>
    <meta charset="UTF-8" />
    <title>Team:XMU-China/Notebook - 2021.igem.org</title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no">
    
    <link rel="stylesheet" href="https://2021.igem.org/Team:XMU-China/css/frame/css?action=raw&amp;ctype=text/css">
    <link rel="stylesheet" href="https://2021.igem.org/Team:XMU-China/css/navigationbar/css?action=raw&amp;ctype=text/css">
    <!--<link rel="stylesheet" href="https://2021.igem.org/Team:XMU-China/css/partcontent/css?action=raw&amp;ctype=text/css">-->

    <!--<link href="https://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">-->
    <script src="https://2021.igem.org/Team:XMU-China/js/jquery?action=raw&amp;ctype=text/javascript"></script>
    <!--<script src="https://2021.igem.org/Team:XMU-China/js/bootstrap?action=raw&amp;ctype=text/javascript"></script>-->

    <link rel="stylesheet" href="https://2021.igem.org/Team:XMU-China/css/notebook/css?action=raw&amp;ctype=text/css">
    <script src="https://2021.igem.org/Team:XMU-China/js/notebook?action=raw&amp;ctype=text/javascript"></script>

    
</head>



<body >
    <section class="section main-banner" id="top" data-section="Intro">
        <img src="https://static.igem.wiki/teams/4242/wiki/background/b-notebook.png" alt="">
    
        <div class="header-text">
            <div class="caption">
                <div class="wave-text">
                    <span>Notebook</span>
                </div>
            </div>
        </div>
    </section>


<div class="main">
    <div class="event_box">
        <div class="space_div">
            <p class="left_space"></p>
            <p class="right_space"></p>
        </div>
        <div class="parHd clearfix notebook" >
            <div class="limited_framework">
                <ul>
                    <li class="act"><span></span>February</li>
                    <li><span></span>Mars-May</li>
                    <li><span></span>June</li>
                    <li><span></span>7.12-7.18</li>
                    <li><span></span>7.19-7.25</li>
                    <li><span></span>7.26-8.1</li>
                    <li><span></span>8.2-8.8</li>
                    <li><span></span>8.9-8.15</li>
                    <li><span></span>8.16-8.22</li>
                    <li><span></span>8.23-8.29</li>
                    <li><span></span>8.30-9.5</li>
                    <li><span></span>9.6-9.12</li>
                    <li><span></span>9.13-9.19</li>
                    <li><span></span>9.20-9.26</li>
                    <li><span></span>9.27-10.3</li>
                    <li><span></span>10.4-10.10</li>
                    <li><span></span>10.11-10.17</li>
                </ul>
                <a class="sPrev"><img src="https://static.igem.org/mediawiki/2021/7/7e/T--XMU-China--blueleftArrow.png"></a>
                <a class="sNext"><img src="https://static.igem.org/mediawiki/2021/d/d7/T--XMU-China--bluerightArrow.png"></a>
            </div>
        </div>
      <div class="parBd clearfix notebook">
            <div class="slideBox" style="display: none;">
                <h1>February</h1>
                <p> - Our team was formally founded.<br>
                    - All student members learned the fundamental knowledge of molecular cloning and iGEM.<br>
                    - All student members looked through the previous excellent projects and learned the basic notion of synthetic biology and iGEM.<br>
                </p>
            </div>
            <div class="slideBox" style="display: none;">
                <h1>Mars-May</h1>
                <p>- We decided our project theme.</br>
                   - We were divided into three groups and polish our project separately (and we reported each's progress every weekend).</br>
                   - We optimized and constructed the sequences of the desired genes.</br>
                   - Our team was officially accepted by iGEM.</br>
                </p>
            </div>
            <div class="slideBox" style="display: none;">
                <h1>June</h1>
                <p>- All student members came back to school and learned laboratory fundamental qualities and received molecular cloning operation training.</p>
            </div>
            <div class="slideBox" style="display: none;">
                <h1>7.12-7.18</h1>
                <p>- <a href="http://parts.igem.org/Part:BBa_K3739031">BBa_K3739031</a> is constructed.</p>
            </div>
            <div class="slideBox" style="display: none;">
                <h1>7.19-7.25</h1>
                <p>- <a href="http://parts.igem.org/Part:BBa_K3739037">BBa_K3739037</a>, <a href="http://parts.igem.org/Part:BBa_K3739040">BBa_K3739040</a> are constructed successfully.</p>
            </div>
            <div class="slideBox" style="display: none;">
                <h1>7.26-8.1</h1>
                <p>
                    - <a href="http://parts.igem.org/Part:BBa_K3739032">BBa_K3739032</a> is constructed.</br>
                    - <a href="http://parts.igem.org/Part:BBa_K3739031">BBa_K3739031</a> is transferred to <i>Vibrio natriegens</i> and characterized.</br>
                    - <a href="http://parts.igem.org/Part:BBa_K3739044">BBa_K3739044</a>, <a href="http://parts.igem.org/Part:BBa_K3739043">BBa_K3739043</a> are constructed.</br>
                </p>
            </div>
            <div class="slideBox" style="display: none;">
                <h1>8.2-8.8</h1>
                <p>
                    - <a href="http://parts.igem.org/Part:BBa_K3739044">BBa_K3739044</a> is transferred to <i>Vibrio natriegens</i> and characterized.</br>
                    - <a href="http://parts.igem.org/Part:BBa_K3739033">BBa_K3739033</a> is successfully constructed via Gibson.</br>
                    - <a href="http://parts.igem.org/Part:BBa_K3739041">BBa_K3739041</a>, <a href="http://parts.igem.org/Part:BBa_K3739038">BBa_K3739038</a>, <a href="http://parts.igem.org/Part:BBa_K3739061">BBa_K3739061</a> are constructed.</br>
                </p>
            </div>
            <div class="slideBox" style="display: none;">
                <h1>8.9-8.15</h1>
                <p>
                    - <a href="http://parts.igem.org/Part:BBa_K3739032">BBa_K3739032</a> is transferred to <i>Vibrio natriegens</i> and characterized.</br>
                    - <a href="http://parts.igem.org/Part:BBa_K3739047">BBa_K3739047</a>, <a href="http://parts.igem.org/Part:BBa_K3739045">BBa_K3739045</a>, <a href="http://parts.igem.org/Part:BBa_K3739050">BBa_K3739050</a> are constructed successfully.</br>
                    - <a href="http://parts.igem.org/Part:BBa_K3739046">BBa_K3739046</a> is successfully constructed by point mutation.</br>
                </p>
            </div>
            <div class="slideBox" style="display: none;">
                <h1>8.16-8.22</h1>
                <p>
                    - <a href="http://parts.igem.org/Part:BBa_K3739048">BBa_K3739048</a>, <a href="http://parts.igem.org/Part:BBa_K3739049">BBa_K3739049</a>, <a href="http://parts.igem.org/Part:BBa_K3739051">BBa_K3739051</a>, <a href="http://parts.igem.org/Part:BBa_K3739052">BBa_K3739052</a> are constructed successfully.
                </p>
            </div>
            <div class="slideBox" style="display: none;">
                <h1>8.23-8.29</h1>
                <p>
                    - <a href="http://parts.igem.org/Part:BBa_K3739049">BBa_K3739049</a>, <a href="http://parts.igem.org/Part:BBa_K3739061">BBa_K3739061</a> are transferred to <i>Vibrio natriegens</i>.</br>
                    - <a href="http://parts.igem.org/Part:BBa_K3739034">BBa_K3739034</a>, <a href="http://parts.igem.org/Part:BBa_K3739035">BBa_K3739035</a>, <a href="http://parts.igem.org/Part:BBa_K3739063">BBa_K3739063</a> are constructed.</br>
                </p>
            </div>
            <div class="slideBox" style="display: none;">
                <h1>8.30-9.5</h1>
                <p>
                    - <a href="http://parts.igem.org/Part:BBa_K3739036">BBa_K3739036</a> is constructed successfully.</br>
                    - <a href="http://parts.igem.org/Part:BBa_K3739043">BBa_K3739043</a>, <a href="http://parts.igem.org/Part:BBa_K3739042">BBa_K3739042</a> are transferred to <i>Vibrio natriegens</i> and characterized.</br>
                    - <a href="http://parts.igem.org/Part:BBa_K3739056">BBa_K3739056</a>, <a href="http://parts.igem.org/Part:BBa_K3739057">BBa_K3739057</a> are constructed via Gibson.</br>
                </p>
            </div>
            <div class="slideBox" style="display: none;">
                <h1>9.6-9.12</h1>
                <p>
                    - <a href="http://parts.igem.org/Part:BBa_K3739039">BBa_K3739039</a>, <a href="http://parts.igem.org/Part:BBa_K3739054">BBa_K3739054</a> are constructed successfully.</br>
                    - <a href="http://parts.igem.org/Part:BBa_K3739046">BBa_K3739046</a>, <a href="http://parts.igem.org/Part:BBa_K3739047">BBa_K3739047</a> are successfully ligated together to construct <a href="http://parts.igem.org/Part:BBa_K3739053">BBa_K3739053</a></br>
                </p>
            </div>
            <div class="slideBox" style="display: none;">
                <h1>9.13-9.19</h1>
                <p>
                    - <a href="http://parts.igem.org/Part:BBa_K3739058">BBa_K3739058</a>, <a href="http://parts.igem.org/Part:BBa_K3739059">BBa_K3739059</a> are constructed.</br>
                    - <a href="http://parts.igem.org/Part:BBa_K3739053">BBa_K3739053</a> is transferred to <i>Vibrio natriegens</i> and characterized.</br>
                </p>
            </div>
            <div class="slideBox" style="display: none;">
                <h1>9.20-9.26</h1>
                <p>
                    - <a href="http://parts.igem.org/Part:BBa_K3739060">BBa_K3739060</a>, <a href="http://parts.igem.org/Part:BBa_K3739062">BBa_K3739062</a> are constructed.</br>
                    - <a href="http://parts.igem.org/Part:BBa_K3739058">BBa_K3739058</a>, <a href="http://parts.igem.org/Part:BBa_K3739059">BBa_K3739059</a> are transferred to <i>Vibrio natriegens</i> and characterized.</br>
                </p>
            </div>
            <div class="slideBox" style="display: none;">
                <h1>9.27-10.3</h1>
                <p>
                    - <a href="http://parts.igem.org/Part:BBa_K3739064">BBa_K3739064</a>, <a href="http://parts.igem.org/Part:BBa_K3739065">BBa_K3739065</a> are constructed successfully.</br>
                    - <a href="http://parts.igem.org/Part:BBa_K3739036">BBa_K3739036</a> is transferred to <i>Vibrio natriegens</i> and characterized.</br>
                </p>
            </div>
            <div class="slideBox" style="display: none;">
                <h1>10.4-10.10</h1>
                <p>
                    - <a href="http://parts.igem.org/Part:BBa_K3739055">BBa_K3739055</a>, <a href="http://parts.igem.org/Part:BBa_K3739066">BBa_K3739066</a> are constructed successfully.</br>
                    - <a href="http://parts.igem.org/Part:BBa_K3739042">BBa_K3739042</a>, <a href="http://parts.igem.org/Part:BBa_K3739061">BBa_K3739061</a> are transferred to <i>Vibrio natriegens</i> and characterized.</br>
                </p>
            </div>
            <div class="slideBox" style="display: none;">
                <h1>10.11-10.17</h1>
                <p>
                    - <a href="http://parts.igem.org/Part:BBa_K3332020">BBa_K3332020</a>, <a href="http://parts.igem.org/Part:BBa_K3332021">BBa_K3332021</a>, <a href="http://parts.igem.org/Part:BBa_K3332022">BBa_K3332022</a>, <a href="http://parts.igem.org/Part:BBa_K3332023">BBa_K3332023</a> are successfully ligated together to construct <a href="http://parts.igem.org/Part:BBa_K3739067">BBa_K3739067</a> to be an improvement.
                </p>
            </div>
        </div>
    </div>
</div>
</body>


</p>



</div>        <div class="visualClear"></div>
      </div>
    </div>
  </div>
</html>

{% endblock %}
