{% extends "layout.html" %}

{% block page_content %}

<head>
    <meta charset="UTF-8" />
    <title>Team:CUG-China/Notebook - 2022.igem.org</title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no">
    <link rel="stylesheet" href="{{ url_for('static', filename = 'headama.css') }}">
    <script src="{{ url_for('static', filename = 'notebook amazing/nb.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename = 'notebook amazing/nb.css') }}">
    <script src="{{ url_for('static', filename = 'notebook amazing/notebook.js') }}"></script>
</head>

<body>
    <section class="section main-banner" id="top" data-section="Intro">
        <img src="https://static.igem.wiki/teams/4242/wiki/background/b-notebook.png" alt="">
    
        <div class="header-text">
            <div class="caption">
                <div class="wave-text">
                    <span>Notebook</span>
                </div>
            </div>
        </div>
    </section>

    <style>

        @font-face
            {
                font-family:'font_one';
                src:url(https://static.igem.wiki/teams/4242/wiki/acme-regular.ttf)
            }
            .p1
            {
                font-family:'font_one';
                font-size:1.5rem;
                color:#f0f0f0;
            }
            
            @font-face
            {
                font-family:'font_two';
                src:url(https://uploads.igem.org/teams/4242/wiki/Overlock-Regular.ttf)
        
            }
            .o
            {
                font-family:'font_one';
                font-size:2rem;
                color:#f26b1f;
            }
            .z1
            {
                font-family:'font_one';
                font-size:1.5rem;
                color:#f26b1f;
            }
            .z2
            {
                font-family:'font_one';
                font-size:1.5rem;
                color:#f0f0f0;
            }
            .z3
            {
                font-family:'font_two';
                font-size:1.0rem;
                color:#f0f0f0;
            }
            body
           {
                width:100%;
                height: auto;
                background-color: #21373d;
                overflow-y: scroll;
            }
            

        </style>

<div class="main">
    <div class="event_box">
        <div class="space_div">
            <p class="left_space"> <br>
            <p class="right_space"> <br>
        </div>
        <div class="parHd clearfix notebook" >
            <div class="limited_framework">
                <ul>
                    <span class="z3"><li>Jan.</li></span>
                    <span class="z3"><li>Feb.</li></span>
                    <span class="z3"><li>Mar.</li></span>
                    <span class="z3"><li>Apr.</li></span>
                    <span class="z3"><li>May.</li></span>
                    <span class="z3"><li>Jun.</li></span>
                    <span class="z3"><li>Jul.</li></span>
                    <span class="z3"><li>Aug.</li></span>
                    <span class="z3"><li>Sep.</li></span>
                </ul>
                <a class="sPrev"><img src="https://static.igem.org/mediawiki/2021/7/7e/T--XMU-China--blueleftArrow.png"></a>
                <a class="sNext"><img src="https://static.igem.org/mediawiki/2021/d/d7/T--XMU-China--bluerightArrow.png"></a>
            </div>
        </div>
      <div class="parBd clearfix notebook">
            <div class="slideBox">
                <span class="o"><h1>Jan.</h1></span>
                 <p>
                    <span class="z2"> -Publicized IGEM competition and answered students' questions about iGEM.</span>  <br>
                    <span class="z2">  -Recruited team members and interviewed.</span>  <br>
                 </p>
            </div>

            <div class="slideBox">
                <span class="o"><h1>Feb.</h1></span>
                <p>
                    <span class="z2"> -Our team was officially established and held the first meeting!</span>  <br>
                 <span class="z2">  -All student members received laboratory safety training.</span>  <br>
                 <span class="z2"> -All student members learned the basic concepts and experiments of molecular biology to establish understanding of synthetic biology.</span>  <br>
                </p>
                </div>
            
            <div class="slideBox">
                <span class="o"><h1>Mar.</h1></span>
                <p>
                    <span class="z2">  -Brainstorm: Extensively read articles and listed potential topics. </span> <br>
                 <span class="z2">  -Visited Institute of Hydrobiology, Chinese Academy of Sciences to understand the application of synthetic biology.</span>  <br>
                 <span class="z2">  -Determined the theme of our team! </span> <br>
                 <span class="z2">  -Assigned tasks to each team. </span> <br>
                </p>
                </div>

            <div class="slideBox">
                <span class="o"><h1>Apr.</h1></span>
                <p>
                    <span class="z2"> -Art design group made team logo! </span> <br>
                 <span class="z2"> -All students learned from the previous excellent iGEM projects and reported at the weekly meeting. </span> <br>
                 <span class="z2"> -Designed biobricks. </span> <br>
                 <span class="z2"> -Reached a cooperation intention with Xiamen University.</span>  <br>
                </p>
                </div>

            <div class="slideBox">
                <span class="o"><h1>May.</h1></span>
                <p>
                    <span class="z2">  -Art design group designed each member's cartoon image. </span> <br>
                 <span class="z2"> -Art design group and the dry experiment group learned how to make web together. </span> <br>
                 <span class="z2">  -Continued to learn the projects of previous excellent iGEM teams. </span> <br>
                 <span class="z2"> -Deeply insighted into notions of parts, devices, systems in synthetic biology.</span>  <br>
                </p>
                </div>

            <div class="slideBox">
                <span class="o"><h1>Jun.</h1></span>
                <p>
                    <span class="z2"> -Participated ARS2022 and shared our project at the conference. </span> <br>
                 <span class="z2">  -Submitted first version of safety form.</span>  <br>
                <span class="z1"> -Constructed the first plasmid phyd-1 and inserted plasmid phyd-1 into S.oneidensis MR-1 and E.coli BL21.</span>  <br>
                </p>
            </div>

            <div class="slideBox">
                <span class="o"><h1>Jul.</h1></span>
                <p>
                    <span class="z2"> -Held online communication with NYCU-formosa to learn their experience in modeling. </span> <br>
                 <span class="z2"> -Collaborated with Xiamen University. </span> <br>
                 <span class="z2"> -Attended  Central China iGEM Communication. </span> <br>
                <span class="z1"> -Constructed plasmid phyd-2 and inserted plasmid phyd-2 into chassis.</span>  <br>
                <span class="z1"> -Demonstrate the function of phyd-2.</span>  <br>
                </p>
            </div>

            <div class="slideBox">
                <span class="o"><h1>Aug.</h1></span>
                <p>
                    <span class="z2"> -Be present at Conference of China iGEMer Community(CCiC) and introduced our project to other teams.</span>  <br>
                 <span class="z2"> -Filmed and made our promotion video. </span> <br>
                 <span class="z2"> -Interviewed CATUG Biotechnology and visited Dr. Zunyang Ke. </span> <br>
                <span class="z1"> -Constructed plasmid phyd-3 and codon optimization of fleQ.</span>  <br>
                <span class="z1"> -Transformed plasmid phyd-3 into BL21 and MR1.</span>  <br>
                <span class="z1"> -Tested the fluorescence using different biofilm dispersal agent.</span>  <br>
                </p>
            </div>

            <div class="slideBox">
                <span class="o"><h1>Sep.</h1></span>
                <p>
                    <span class="z2"> -Made our homepage!</span><br>
                <span class="z1"> -Inserted the pbad into fleQ and did pre-experiment.</span>  <br>
                <span class="z1"> -Utilized HPLC and Elisa kit to detect the c-di-GMP level of phyd-3 strain.</span>  <br>
                <span class="z1"> -Held a joint education conference with HUST-China.</span>  <br>
                <span class="z1"> -Partnership experiments.</span>  <br>
                <span class="z1"> -Transformed the plasmid in to BL21.</span>  <br>
                <span class="z1"> -Used IPTG to induce protein expression and identified with Westernblot.</span>  <br>
                <span class="z1"> -Adapted the set of ordinary differential equations to better describe the translation and transcription of gene and solved the model by Runge-Kutta method.</span>  <br>
                </p>
            </div>

        </div>
    </div>
</div>
</body>
{% endblock %}
