{% extends "layout.html" %}

{% block page_content %}

<style>

@font-face
    {
        font-family:'font_one';
        src:url(https://static.igem.wiki/teams/4242/wiki/acme-regular.ttf)
    }
    .p1
    {
        font-family:'font_one';
        font-size:1.5rem;
        color:#f0f0f0;
    }
    
    @font-face
    {
        font-family:'font_two';
        src:url(https://uploads.igem.org/teams/4242/wiki/Overlock-Regular.ttf)

    }
    .o
    {
        font-family:'font_two';
        font-size:1rem;
        color:#f0f0f0;
    }
    .z1
    {
        font-family:'font_one';
        font-size:1.5rem;
        color:#f26b1f
    }
    .z2
    {
        font-family:'font_two';
        font-size:0.5rem;
        color:#f0f0f0
    }
    
    body
   {
        width:100%;
        height: auto;
        background-color: #21373d;
        overflow-y: scroll;
    }
</style>


<head>
    <meta charset="UTF-8" />
    <title>Team:CUG-China/Notebook - 2022.igem.org</title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no">
    <link rel="stylesheet" href="{{ url_for('static', filename = 'headama.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename = 'notebook amazing/nb.css') }}">
</head>

<body>
    <section class="section main-banner" id="top" data-section="Intro">
        <img src="https://static.igem.wiki/teams/4242/wiki/background/partnership.png" alt="">
        <div class="header-text">
            <div class="caption">
                <div class="wave-text">
                    <span>Partnership</span>
                </div>
            </div>
        </div>
    </section>

    <div class="container">
          {% include "sider.html" %}
          <aside class="aside">
            <br>
            <div>
              <a class="pointer" href="#Overview">Overview</a>
              <a class="pointer" href="#Stage I">Stage I</a>
              <a class="pointer" href="#Stage II">Stage II</a>
              <a class="pointer" href="#Stage III">Stage III </a>
            </div>
          </br>
          </aside>
      
        <div class="row" id="move20">     
          <div class="col" id="Content">
          <!---Overview--->
          <p class="target-fix" id="Overview"></p>
          <p style="margin-top: 50px;"></p>
          <div class="p1">
         <h1 id="Overview" style="color: #f26b1f;"><b>Overview</b></h1> 
         </div> 
         <div class="o">
         <hr style="border-top:5px solid #f0f0f0;">
         <ul>
            <p>It is not easy for CUG-China to participate iGEM for the first time. However, it's our fortune to establish such a helpful partnership with our friends in <a href="https://2022.igem.wiki/xmu-china/index.html">XMU-China</a>. In the spring of this year, our PI introduced us to XMU-China, and they generously shared their experience and offered guidance as experienced iGEMers. In July, we confirmed our partnership. We set up online meeting to efficiently discuss with XMU-China, and their constructive suggestions benefited a lot in the designs of experiments, modeling and human practices. As we expected, the communication and cooperation with XMU-China facilitated the project development of both teams, broadened each member's ideas through brainstorming, and established a close bond and friendship between us.</p>
        </ul>
         </hr>
         </div>
        
        <!---Stage I--->
        <p class="target-fix" id="Stage I"></p>
        <p style="margin-top: 50px;"></p>
        <div class="p1">
       <h1 id="Stage I" style="color: #f26b1f;"><b>Stage I   Early Stage Communication </b></h1> 
       </div> 
       <div class="o">
       <hr style="border-top:5px solid #f0f0f0;">
       <ul>
          <p>We established leader level communication early in May, just the day before opening kickoff. Our PI, Yidan Hu, led the team of XMU-China in 2010 when they participated iGEM for the first time, and we knew each other through her introduction. Due to the time difference, it's not easy for Asian teams to attend the ceremony. We shared our information with them, and they pointed out some key points for us. They reminded us of the importance of the safety regulation and safety form. We appreciated it.</p>
          <p>In June, both of us attended the ARS 2022. In the conference, we shared our own projects for the first time. We knew better about each other's project and asked some interesting questions. Due to their remind, we realized the importance of human-practice and how we should organize our HP. </p>
          <p style="text-align: center">
            <img src="https://static.igem.wiki/teams/4242/wiki/partnership/1.png" alt="Pulpit rock" width="496" height="347"> 
            <img src="https://static.igem.wiki/teams/4242/wiki/partnership/2.png" alt="Pulpit rock" width="496" height="347"> 
          </p>
        <p style="text-align: center"><span class="z2">The ARS 2022</span></p>
        </ul>
       </hr>
       </div>

       <!---Stage II--->
       <p class="target-fix" id="Stage II"></p>
       <p style="margin-top: 50px;"></p>
       <div class="p1">
      <h1 id="Stage II" style="color: #f26b1f;"><b>Stage II   Summer collaboration </b></h1> 
      </div> 
      <div class="o">
      <hr style="border-top:5px solid #f0f0f0;">
      <ul>
         <p>In July, our leader, JianLiu, visit Xiamen University in person and held a joint online-offline meeting. In the meeting, we discussed each other's project together and gave some thoughtful comments.</p>
         <p>Since most of our iGEMer are not from the deportment of biology science, synthetic biology and standard biological parts are new concepts for most of us from CUG-China. Although our mentors introduced fundamental knowledge and guided us to conduct experiments, we still don't have an in-depth understanding of part engineering. Luckily, in this meeting, our kind friends helped us fixing this shortcoming by giving us a useful introduction about part construction, related medal criteria and the detail of the RFC10 standard. We indeed benefit a lot from them. After the meeting, we both felt good faith and decided to develop our relation into partnership.</p>
         <p style="text-align: center">
            <img src="https://static.igem.wiki/teams/4242/wiki/partnership/3.png" alt="Pulpit rock" width="634" height="356"> 
          </p>
        <p style="text-align: center"><span class="z2">Online and offline joint meeting</span></p>
      </ul>
      </hr>
      </div>

      <!---Stage III--->
      <p class="target-fix" id="Stage III"></p>
      <p style="margin-top: 50px;"></p>
      <div class="p1">
     <h1 id="Stage III" style="color: #f26b1f;"><b>Stage III   Modeling inspiring & experiment & wiki & art design</b></h1> 
     </div> 
     <div class="o">
     <hr style="border-top:5px solid #f0f0f0;">
     <ul>
        <p>In the end of summer, iGEM competition was reaching fever pitch, and the cooperation of enterprise with CUG-China and XMU-China was further strengthened. We explored many aspects of our partnership, including but not limited to modeling, experiment, wiki construction and art design.</p>
        <p>For experiment, we helped XMU-China to proof their design by performing western blot. They sent us biobricks they built. After receiving their constructs, we separately transferred into E. coli BL21(DE3) which is the same chassis they used in XMU. It's important to point out that the whole transportation process was under strict control and didn't violet any related iGEM safety regulation. Then we cultured the bacteria, induced the gene expression and prepared the samples, as well as ran the western blot according to the protocol provided by XMU-China. please check their wiki for the detailed information of the experiment.</p>
        <p>Besides, we received many critical advice for our modeling. At first, we would like to adopt the biosensor model for better description of the sensing process and the prediction of the gfp expression in different bacteria with a diversity of native c-di-GMP levels. However, our modeling is based on a cell-free system, which means the parameters in our model may be different under actual experimental conditions. Luckily, team members of XMU-China helped us solve this problem by advising us to investigate the sensitivity of our model with respect to all parameters. There are a total of 22 parameters in our model, and it would be time-consuming and tedious to analyze these all parameters one by one. Based on their suggestion, we took the celebrated Morris method which is a global sensitivity analysis method in statistical subjects.</p>
        </ul>
     </hr>
     </div>

     <div class="o">
        <hr style="border-top:5px solid #f0f0f0;">
        <ul>
           <p>For wiki and art design, we also benefited a lot from each other. For instance, we shared many useful material resources. They draw the background page picture for us, and they provided many useful pictures that help us to illustrate our project. During the processes preparing the promotion video, they advised us to combine the animation and live action together, which allowing us to easily explain our project in a short video. As a beginner, we are not familiar with many aspects about wiki such as font applying, standard URL, and so on. In addition to learning through iGEM homepage, XMU-China also resolved our confusions by answering our questions. They are generous to let us adopt some of the elements from their Notebook page with the reference on our wiki.</p>
           </ul>
       <div class="o">
        <hr style="border-top:5px solid #f0f0f0;">
        <ul>
           <p>In short, through this meaningful experience of partnership with XMU-China, we helped each other, finished project and solved problems together. More importantly, we learned that running single-handed makes it hard to accomplish anything. We should learn from our community and friends, and cherish the friendship. We believe that our friendship will go beyond this competition and expand further in future.</p>
       </ul>
     
      </hr>
      </div> 
      </div>
    </div>
<body>

{% endblock %}
