{% extends "layout.html" %}

{% block page_content %}

<style>

@font-face
    {
        font-family:'font_one';
        src:url(https://static.igem.wiki/teams/4242/wiki/acme-regular.ttf)
    }
    .p1
    {
        font-family:'font_one';
        font-size:1.5rem;
        color:#f0f0f0;
    }
    
    @font-face
    {
        font-family:'font_two';
        src:url(https://uploads.igem.org/teams/4242/wiki/Overlock-Regular.ttf)

    }
    .o
    {
        font-family:'font_two';
        font-size:1rem;
        color:#f0f0f0;
    }
    .z1
    {
        font-family:'font_one';
        font-size:1.5rem;
        color:#f26b1f
    }
    .z2
    {
        font-family:'font_two';
        font-size:0.5rem;
        color:#f0f0f0
    }
    
    body
   {
        width:100%;
        height: auto;
        background-color: #21373d;
        overflow-y: scroll;
    }
</style>


<head>
    <meta charset="UTF-8" />
    <title>Team:CUG-China/Notebook - 2022.igem.org</title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no">
    <link rel="stylesheet" href="{{ url_for('static', filename = 'headama.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename = 'notebook amazing/nb.css') }}">
</head>

<body>
    <section class="section main-banner" id="top" data-section="Intro">
        <img src="https://static.igem.wiki/teams/4242/wiki/background/partnership.png" alt="">
        <div class="header-text">
            <div class="caption">
                <div class="wave-text">
                    <span>Partnership</span>
                </div>
            </div>
        </div>
    </section>

    <div class="container">
          {% include "sider.html" %}
          <aside class="aside">
            <br>
            <div>
              <a class="pointer" href="#Overview">Overview</a>
              <a class="pointer" href="#Stage I">Stage I</a>
              <a class="pointer" href="#Stage II">Stage II</a>
              <a class="pointer" href="#Stage III">Stage III </a>
            </div>
          </br>
          </aside>
      
        <div class="row" id="move20">     
          <div class="col" id="Content">
          <!---Overview--->
          <p class="target-fix" id="Overview"></p>
          <p style="margin-top: 50px;"></p>
          <div class="p1">
         <h1 id="Overview" style="color: #f26b1f;"><b>Overview</b></h1> 
         </div> 
         <div class="o">
         <hr style="border-top:5px solid #f0f0f0;">
         <ul>
            <p>It is not easy for CUG-China to participate iGEM for the first time. However, it's our fortune to establish such a helpful partnership with our friends in XMU-China. In the spring of this year, our PI introduced us to XMU-China, and they generously shared their experience and offered guidance as experienced iGEMers. In June, we confirmed our partnership. We set up online meeting to efficiently discuss with iGEMers from XMU-China, and their constructive suggestions benefited a lot in the designs of experiments, modeling and human practices. As we expected, the communication and cooperation with XMU-China facilitated the project development of both teams, broadened each member's ideas through brainstorming, and established a close bond and friendship between us.</p>
        </ul>
         </hr>
         </div>
        
        <!---Stage I--->
        <p class="target-fix" id="Stage I"></p>
        <p style="margin-top: 50px;"></p>
        <div class="p1">
       <h1 id="Stage I" style="color: #f26b1f;"><b>Stage I   Early Stage Communication </b></h1> 
       </div> 
       <div class="o">
       <hr style="border-top:5px solid #f0f0f0;">
       <ul>
          <p>We established leader level communication early in May, just the day before opening kickoff. Interestingly enough, we found that our PI, Yidan Hu, lead the team of XMU-China in 2010 when they attended iGEM for the first time. Since the time difference, it's not easy for Asian team to attend the ceremony. We shared our information and they pointed out some key points for us. They reminded us the importance of the safety regulation and safety form, which we are very grateful.</p>
          <p>In June, both of us attended the ARS 2022. At the conference, we shared our project for the first time. We are both interested in each other's project and raised some interesting questions. With their remind, we realized the importance of  human-practice and how we should organize our hp.</p>
       </ul>
       </hr>
       </div>

       <!---Stage II--->
       <p class="target-fix" id="Stage II"></p>
       <p style="margin-top: 50px;"></p>
       <div class="p1">
      <h1 id="Stage II" style="color: #f26b1f;"><b>Stage II   Summer collaboration </b></h1> 
      </div> 
      <div class="o">
      <hr style="border-top:5px solid #f0f0f0;">
      <ul>
         <p>In July two teams confirmed our in-depth cooperation and partnership. To show our sincerity, we sent our leader, JianLiu, to Xiamen University in person and held a joint online-offline meeting. There we discussed each other’s project together and gave some thoughtful comments.</p>
         <p>Synthetic biology and standard biological parts are actually new concepts for CUG-China. Although we are excited about combining engineering methods to genetic field, yet we don’t have a in-depth understanding of part engineering. Luckily,  in this meeting, our kind friends helped us fixing this shortcoming by giving us an useful lesson about part construction, related medal criteria and the detail of the RFC10 standard.</p>
      </ul>
      </hr>
      </div>

      <!---Stage III--->
      <p class="target-fix" id="Stage III"></p>
      <p style="margin-top: 50px;"></p>
      <div class="p1">
     <h1 id="Stage III" style="color: #f26b1f;"><b>Stage III   Modeling inspiring & experiment & wiki & art design</b></h1> 
     </div> 
     <div class="o">
     <hr style="border-top:5px solid #f0f0f0;">
     <ul>
        <p>With the end of summer, iGEM competition is reaching fever pitch, and the cooperation of enterprise with CUG-China and XMU-China was further strengthened. We explored many aspects of our partnership.</p>
     </ul>
     </hr>
     </div>

     
      </hr>
      </div> 
      </div>
    </div>
<body>

{% endblock %}
