{% extends "layout.html" %}

{% block page_content %}

<style>

@font-face
    {
        font-family:'font_one';
        src:url(https://static.igem.wiki/teams/4242/wiki/acme-regular.ttf)
    }
    .p1
    {
        font-family:'font_one';
        font-size:1.5rem;
        color:#f0f0f0;
    }
    
    @font-face
    {
        font-family:'font_two';
        src:url(https://uploads.igem.org/teams/4242/wiki/Overlock-Regular.ttf)

    }
    .o
    {
        font-family:'font_two';
        font-size:1rem;
        color:#f0f0f0;
    }
    .o1
    {
        font-family:'font_two';
        font-size:0.5rem;
        color:#f0f0f0;
    }
    .z1
    {
        font-family:'font_one';
        font-size:3rem;
        color:#f26b1f
    }
    .z3
    {
        font-family:'font_one';
        font-size:1.0rem;
        color:#f26b1f;

    }
    .z2
    {
        font-family:'font_two';
        font-size:1.5rem;
        color:#f0f0f0;
    }
    
    body
   {
        width:100%;
        height: auto;
        background-color: #21373d;
        overflow-y: scroll;
    }

    @media screen and (max-width: 992px) {
    #dna {
      max-height:300px !important;
    }
  }
</style>

<head>
    <meta charset="UTF-8" />
    <title>Team:CUG-China/Notebook - 2022.igem.org</title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no">
    <link rel="stylesheet" href="{{ url_for('static',filename = 'headama.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename = 'notebook amazing/nb.css') }}">
</head>

<section class="section main-banner" id="top" data-section="Intro">
    <img src="https://static.igem.wiki/teams/4242/wiki/background/b-part.png" alt="">
    <div class="header-text">
        <div class="caption">
            <div class="wave-text">
                <span>Parts</span>
            </div>
        </div>
    </div>
</section>
<div class="container">
  <div class="row mt-4">
    <div class="col">
      <p style="margin-top: 50px;"></p>
      <h1 class="z1"><b>Overview</b></h1>
      <hr style="border-top:5px solid #f0f0f0;">
      <p class="o">
        This year we built a c-di-GMP biosensor based on the Ppel and FleQ system from P. aeruginosa. So we have to add these relative promotor and gene to the part registry. Among the 25 parts we designed this year, six of them are basic parts, the rest are composite parts. You can click on the part numbers to browse more detailed information. Most of the parts were used in our project, and there are a few part that we haven't finish the performance testing due to the time limit.
        </p>
      <p style="margin-top: 25px;"></p>
      <h1 class="z1"><b>Parts List</b></h1>
      <hr style="border-top:5px solid#f0f0f0;">
      <table class="table">
        <thead>
          <tr>
            <th scope="col" class="z2">Numbers</th>
            <th scope="col" class="z2">Classification</th>
            <th scope="col" class="z2">Description</th>
            <th scope="col" class="z2">Length</th>
          </tr>
        </thead>
        <tbody class="o">
          <tr>
            <td><a id="linka" href="http://parts.igem.org/Part:BBa_K4242000" class="z3">BBa_K4242000</a></th>
            <td>Coding</td>
            <td><i>fleQ</i></td>
            <td>1473 bp</td>
          </tr>
          <tr>
            <td><a id="linka" href="http://parts.igem.org/Part:BBa_K4242001" class="z3">BBa_K4242001</a></th>
            <td>Regulatory</td>
            <td>P<span class="o1">ci</span></td>
            <td>147 bp</td>
          </tr>
          <tr>
            <td><a id="linka" href="http://parts.igem.org/Part:BBa_K4242002" class="z3">BBa_K4242002</a></th>
            <td>Regulatory</td>
            <td>P<span class="o1">ci</span>+P<span class="o1">pel</span></td>
            <td>204 bp</td>
          </tr>
          <tr>
            <td><a id="linka" href="http://parts.igem.org/Part:BBa_K4242003" class="z3">BBa_K4242003</a></th>
            <td>Coding</td>
            <td><i>fleN</i></td>
            <td>843 bp</td>
          </tr>
          <tr>
            <td><a id="linka" href="http://parts.igem.org/Part:BBa_K4242004" class="z3">BBa_K4242004</a></th>
            <td>Coding</td>
            <td><i>yedQ</i></td>
            <td>1695 bp</td>
          </tr>
          <tr>
            <td><a id="linka" href="http://parts.igem.org/Part:BBa_K4242005" class="z3">BBa_K4242005</a></th>
            <td>Regulatory</td>
            <td>pSB3C5-A1</td>
            <td>1447 bp</td>
          </tr>
          <tr>
            <td><a id="linka" href="http://parts.igem.org/Part:BBa_K4242006" class="z3">BBa_K4242006</a></th>
            <td>Composite</td>
            <td><i>fleQ</i>+TT</td>
            <td>1610 bp</td>
          </tr>
          <tr>
            <td><a id="linka" href="http://parts.igem.org/Part:BBa_K4242007" class="z3">BBa_K4242007</a></th>
            <td>Composite</td>
            <td>RBS+<i>fleN</i></td>
            <td>861 bp</td>
          </tr>
          <tr>
            <td><a id="linka" href="http://parts.igem.org/Part:BBa_K4242008" class="z3">BBa_K4242008</a></th>
            <td>Composite</td>
            <td><i>gfp</i>+TT</td>
            <td>857 bp</td>
          </tr>
          <tr>
            <td><a id="linka" href="http://parts.igem.org/Part:BBa_K4242009" class="z3">BBa_K4242009</a></th>
            <td>Composite</td>
            <td>P<span class="o1">bad</span>+RBS+<i>fleQ</i>+TT</td>
            <td>2845 bp</td>
          </tr>
          <tr>
            <td><a id="linka" href="http://parts.igem.org/Part:BBa_K4242010" class="z3">BBa_K4242010</a></th>
            <td>Composite</td>
            <td>P<span class="o1">ci</span>+RBS+<i>fleQ</i>+TT</td>
            <td>1685 bp</td>
          </tr>
          <tr>
            <td><a id="linka" href="http://parts.igem.org/Part:BBa_K4242011" class="z3">BBa_K4242011</a></th>
            <td>Composite</td>
            <td>P<span class="o1">pel</span>+RBS+<i>gfp</i>+TT(pHYD-1)</td>
            <td>1030 bp</td>
          </tr>
          <tr>
            <td><a id="linka" href="http://parts.igem.org/Part:BBa_K4242012" class="z3">BBa_K4242012</a></th>
            <td>Composite</td>
            <td>P<span class="o1">ci</span>+P<span class="o1">pel</span>+RBS+<i>gfp</i>+TT(pHYD-2)</td>
            <td>1087 bp</td>
          </tr>
          <tr>
            <td><a id="linka" href="http://parts.igem.org/Part:BBa_K4242013" class="z3">BBa_K4242013</a></th>
            <td>Composite</td>
            <td>P<span class="o1">ci</span>+RBS+fleQ+TT+ P<span class="o1">ci</span>+P<span class="o1">pel</span>+RBS+<i>gfp</i>+TT(pHYD-3)</td>
            <td>2780 bp</td>
          </tr>
          <tr>
            <td><a id="linka" href="http://parts.igem.org/Part:BBa_K4242014" class="z3">BBa_K4242014</a></th>
            <td>Composite</td>
            <td>P<span class="o1">bad</span>+RBS+fleQ+TT+ P<span class="o1">ci</span>+P<span class="o1">pel</span>+RBS+<i>gfp</i>+TT(pHYD-B1)</td>
            <td>3940 bp</td>
          </tr>
          <tr>
            <td><a id="linka" href="http://parts.igem.org/Part:BBa_K4242015" class="z3">BBa_K4242015</a></th>
            <td>Composite</td>
            <td>P<span class="o1">bad</span>+RBS+<i>fleN</i>+RBS+<i>fleQ</i>+TT+P<span class="o1">ci</span>+P<span class="o1">pel</span>+RBS+<i>gfp</i>+TT(pHYD-B2)</td>
            <td>4809 bp</td>
          </tr>
          <tr>
            <td><a id="linka" href="http://parts.igem.org/Part:BBa_K4242016" class="z3">BBa_K4242016</a></th>
            <td>Composite</td>
            <td>P<span class="o1">tac</span>+RBS+<i>yedQ</i>+TT(pSB3C5-A2)</td>
            <td>3307 bp</td>
          </tr>
          <tr>
            <td><a id="linka" href="http://parts.igem.org/Part:BBa_K4242017" class="z3">BBa_K4242017</a></th>
            <td>Composite</td>
            <td>P<span class="o1">tac</span>+RBS+<i>yhjH</i>+TT(pSB3C5-A3)</td>
            <td>2378 bp</td>
          </tr>
          <tr>
            <td><a id="linka" href="http://parts.igem.org/Part:BBa_K4242018" class="z3">BBa_K4242018</a></th>
            <td>Composite</td>
            <td>RBS+<i>fleQ</i>+TT</td>
            <td>1628 bp</td>
          </tr>
          <tr>
            <td><a id="linka" href="http://parts.igem.org/Part:BBa_K4242019" class="z3">BBa_K4242019</a></th>
            <td>Composite</td>
            <td>RBS+<i>fleQ</i>+TT+P<span class="o1">ci</span>+P<span class="o1">pel</span>+RBS+<i>gfp</i>+TT</td>
            <td>3785 bp</td>
          </tr>
          <tr>
            <td><a id="linka" href="http://parts.igem.org/Part:BBa_K4242020" class="z3">BBa_K4242020</a></th>
            <td>Composite</td>
            <td>RBS+<i>gfp</i>+TT</td>
            <td>875 bp</td>
          </tr>
          <tr>
            <td><a id="linka" href="http://parts.igem.org/Part:BBa_K4242021" class="z3">BBa_K4242021</a></th>
            <td>Composite</td>
            <td>RBS+<i>yedQ</i>+TT</td>
            <td>1852 bp</td>
          </tr>
          <tr>
            <td><a id="linka" href="http://parts.igem.org/Part:BBa_K4242022" class="z3">BBa_K4242022</a></th>
            <td>Composite</td>
            <td>RBS+<i>yhjH</i>+TT</td>
            <td>923 bp</td>
          </tr>
          <tr>
            <td><a id="linka" href="http://parts.igem.org/Part:BBa_K4242023" class="z3">BBa_K4242023</a></th>
            <td>Composite</td>
            <td><i>yedQ</i>+TT</td>
            <td>1832 bp</td>
          </tr>
          <tr>
            <td><a id="linka" href="http://parts.igem.org/Part:BBa_K4242024" class="z3">BBa_K4242024</a></th>
            <td>Composite</td>
            <td><i>yhjH</i>+TT</td>
            <td>905 bp</td>
          </tr>

        </tbody>
      </table>
      <p style="margin-bottom:50px"></p>
    </div>
  </div>
</div>
{% endblock %}
