{% extends "layout.html" %}

{% block page_content %}

<head>
    <meta charset="UTF-8" />
    <title>Team:CUG-China/Notebook - 2022.igem.org</title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no">
    <link rel="stylesheet" href="{{ url_for('static', filename = 'headama.css') }}">
    <script src="{{ url_for('static', filename = 'notebook amazing/nb.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename = 'notebook amazing/nb.css') }}">
    <script src="{{ url_for('static', filename = 'notebook amazing/notebook.js') }}"></script>
</head>

<body >
    <section class="section main-banner" id="top" data-section="Intro">
        <img src="https://static.igem.wiki/teams/4242/wiki/background/b-notebook.png" alt="">
        <div class="header-text">
            <div class="caption">
                <div class="wave-text">
                    <span>Notebook</span>
                </div>
            </div>
        </div>
    </section>
<body>

{% endblock %}
