{% extends "layout.html" %}
{% block page_content %}

<style>
    


    /*main*/
    section.abstract 
    {
      padding: 3% 10% 1% 10%; 
    }
    hr.abstract {
      margin-left: 10%;
      margin-right: 10%;
    }
    /*title*/
    .team h2 
    {
      font-family:'font_one';
      font-size: 3.75rem;
      color:#f26b1f;
      text-align: center;
    }
    .photo-wrapper 
    {
      padding: 0 4%;
    }
    /* 6 photes in a line */
    .photo-wrapper .intro-all 
    {
      width: 30%;
      margin: 2% 1%;
      cursor: pointer;
    }
    @media (min-width: 992px) 
    { 
      .photo-wrapper .intro-all 
      {
        width: 14%;
        margin: 2% 1%;
        cursor: pointer;
      }
    }
    
    /* Dimmer */
    .dimmer 
    {
      position: fixed;
      display: flex;
      top: 0em ;
      left: 0em ;
      width: 100%;
      height: 100%;
      background-color:#21373d;
      z-index: 10000;
      overflow-y: scroll;
      background-image: url(https://static.igem.wiki/teams/4242/wiki/pkuuu.png)
    }
    /* might need revise because body tag */ /* backgroud become blur when dimmer show*/
    .blurring .main, .blurring header, .blurring footer {
      -webkit-filter: blur(2px) grayscale(0);
      filter: blur(2px) grayscale(0);
      -webkit-transition: 800ms -webkit-filter ease;
      transition: 800ms -webkit-filter ease;
      transition: 800ms filter ease;
      transition: 800ms filter ease, 800ms -webkit-filter ease;
    }
    /* might need revise because body tag */
    /* Medium devices (tablets, 768px and up) */
    body.blurring {
      overflow: hidden; 
    }
    .dimmer > .card {
      z-index: 10005;
      overflow: auto;
      width: 80%;
      background-color:#f26b1f;
    }
    .card-title {
       margin-bottom: .5rem;
    }
    .card-text {
      font-size: 1rem;
      color:#21373d;
    }
    .card-text b {
      font-weight: 700;
    }
    
    @media (min-width: 768px) { 
      .dimmer > .card {
        width: 50%;
      }
    
    }
    @font-face
    {
        font-family:'font_one';
        src:url(https://static.igem.wiki/teams/4242/wiki/acme-regular.ttf)
    }
    .p1
    {
        font-family:'font_one';
    }
    
    @font-face
    {
        font-family:'font_two';
        src:url(https://uploads.igem.org/teams/4242/wiki/Overlock-Regular.ttf)
    }
    .o
    {
        font-family:'font_two';
        font-size:1rem;
    }
    body
   {
        width:100%;
        height: auto;
        background-color: #21373d;
        overflow-y: scroll;
    }
    
    </style>
    
    <head>
        <meta charset="UTF-8" />
        <title>Team:CUG-China/Notebook - 2022.igem.org</title>
        <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no">
        <link rel="stylesheet" href="{{ url_for('static', filename = 'headama.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename = 'notebook amazing/nb.css') }}">
    </head>

        <body>
          
            <section class="section main-banner" id="top" data-section="Intro">
                <img src="https://static.igem.wiki/teams/4242/wiki/background/pk-2.png" alt="">
                <div class="header-text">
                    <div class="caption">
                        <div class="wave-text">
                            <span>Team</span>
                        </div>
                    </div>
                </div>
            </section>

          <div class="main team">
            
            <hr class="abstract">
            <!--PI-->
            <section class="PI-part">
              <h2>Principal Investigator</h2>
              <div class="photo-wrapper d-flex justify-content-center flex-wrap w-100">
                <!--Yidan Hu-->
                <div class="intro-all">
                  <img src="https://static.igem.wiki/teams/4242/wiki/team-member/hyd2.png" title="click" class="normal w-100">
                  <img src="https://static.igem.wiki/teams/4242/wiki/team-member/hyd2.png" class="hover d-none w-100">
                  <div class="intro d-none">
                    <h3 class="card-title">Yidan Hu</h3>
                    <p class="card-text">
                      <b>Associate Professor</b>
                      <br>Dr. Hu is an Associate Professor in the School of Environmental Studies, China University of Geosciences (CUG), Wuhan, China. She obtained her Ph.D. degree in Environment Science and Engineering from Singapore Centre for Environmental Life Sciences Engineering (SCELSE), Nanyang Technological University, Singapore. Since she joined CUG in 2020, she her research efforts had been focused on exploring the application of synthetic biology in the Geoscience studies, especially in microbe-mineral interactions.<br>
                    </p>
                    <button class="btn btn-outline-dark btn-sm align-self-end mt-auto" onclick="closeDimmer()" aria-label="close">Close</button>
                  </div>
                </div>
                <!---->
                <!--Liang Shi-->
                <div class="intro-all">
                  <img src="https://static.igem.wiki/teams/4242/wiki/team-member/sl.png" title="click" class="normal w-100">
                  <img src="https://static.igem.wiki/teams/4242/wiki/team-member/sl.png" title="click" class="hover d-none w-100">
                  <div class="intro d-none">
                    <h3 class="card-title">Liang Shi</h3>
                    <p class="card-text">
                      <b>Associate Professor</b><br>
                      Dr. Shi is a Distinguished Professor in School of Environmental Studies, CUG. He obtained Ph.D. degree from Wright State University, U.S. He is one of top scientists who focus on the study of microbial extracellular electron transfer. Currently, his research efforts are focused on the application of synthetic biology approaches in electroactive biofilm engineering.<br>
                    </p>
                    <button class="btn btn-outline-dark btn-sm align-self-end mt-auto" onclick="closeDimmer()" aria-label="close">Close</button>
                  </div>
                </div>
                <!---->
                <!--Yiran Dong-->
                <div class="intro-all">
                  <img src="https://static.igem.wiki/teams/4242/wiki/team-member/dyr.png" title="click" class="normal w-100">
                  <img src="https://static.igem.wiki/teams/4242/wiki/team-member/dyr.png" title="click" class="hover d-none w-100">
                  <div class="intro d-none">
                    <h3 class="card-title">Yiran Dong</h3>
                    <p class="card-text">
                      <b>Associate Professor</b><br>
                      Dr. Dong is a Full Professor in School of Environmental Studies, CUG.  She obtained her Ph.D. degree from University of Oklahoma, U.S. Her research interests include geomicrobiology, biogeochemistry, cultivation and physiology of unclassical metal-metabolizing organisms and bioremediation of groundwater and soil contamination.<br>
                    </p>
                    <button class="btn btn-outline-dark btn-sm align-self-end mt-auto" onclick="closeDimmer()" aria-label="close">Close</button>
                  </div>
                </div>
                <!---->
                <!--Yongguang Jiang-->
                <div class="intro-all">
                  <img src="https://static.igem.wiki/teams/4242/wiki/team-member/jyg.png" title="click" class="normal w-100">
                  <img src="https://static.igem.wiki/teams/4242/wiki/team-member/jyg.png" title="click" class="hover d-none w-100">
                  <div class="intro d-none">
                    <h3 class="card-title">Yongguang Jiang</h3>
                    <p class="card-text">
                      <b>Professor</b><br>
                      Dr. Jiang, an Associate Professor from School of Environmental Studies, CUG. He got his Ph.D. from Institute of Hydrobiology of Chinese Academy of Sciences, China. Dr. Jiang mainly focuses on the study of environmental microbiology, molecular microbial ecology, modification of microbial synthetic biology and its environmental application<br>
                    </p>
                    <button class="btn btn-outline-dark btn-sm align-self-end mt-auto" onclick="closeDimmer()" aria-label="close">Close</button>
                  </div>
                </div>
                <!---->
              </div>
            </section>
            <!--Advisor-->
            <section class="advisor-part">
              <h2>Advisor</h2>
              <div class="photo-wrapper d-flex justify-content-center flex-wrap w-100">
                <!--Zhihao Luo-->
                <div class="intro-all">
                  <img src="https://static.igem.wiki/teams/4242/wiki/team-member/lzh.png" title="click" class="normal w-100">
                  <img src="https://static.igem.wiki/teams/4242/wiki/team-member/lzh.png" title="click" class="hover d-none w-100">
                  <div class="intro d-none">
                    <h3 class="card-title">Trayee Dhar</h3>
                    <p class="card-text">
                      <b>Position</b>: Wet Team Advisor<br>
                      <b>Major</b>: Institute of Molecular Medicine<br>
                      <b>Favourite quote</b>: "I have not failed, I've just found 10,000 ways that won't work - Nicola Tesla"<br>
                      <b>Fun Fact</b>: Electrophobiac<br>
                    </p>
                    <button class="btn btn-outline-dark btn-sm align-self-end mt-auto" onclick="closeDimmer()" aria-label="close">Close</button>
                  </div>
                </div>
                <!---->
                <!--Yawei Shan-->
                <div class="intro-all">
                  <img src="https://static.igem.wiki/teams/4242/wiki/team-member/syw.png" title="click" class="normal w-100">
                  <img src="https://static.igem.wiki/teams/4242/wiki/team-member/syw.png" title="click" class="hover d-none w-100">
                  <div class="intro d-none">
                    <h3 class="card-title">Wan-Hsin Hsueh</h3>
                    <p class="card-text">
                      <b>Position</b>: Wet team advisor<br>
                      <b>Major</b>: Department of Microbiology and Immunology<br>
                      <b>Favourite quote</b>: "Control what you can. Confront what you can't." -John O' Callaghan<br>
                      <b>Fun Fact</b>: I like to make memes with my boss' photos.<br>
                    </p>
                    <button class="btn btn-outline-dark btn-sm align-self-end mt-auto" onclick="closeDimmer()" aria-label="close">Close</button>
                  </div>
                </div>
                <!---->
                <!--Xi Han-->
                <div class="intro-all">
                  <img src="https://static.igem.wiki/teams/4242/wiki/team-member/hx.png" title="click" class="normal w-100">
                  <img src="https://static.igem.wiki/teams/4242/wiki/team-member/hx.png" title="click" class="hover d-none w-100">
                  <div class="intro d-none">
                    <h3 class="card-title">Kuan-Yu Lin</h3>
                    <p class="card-text">
                      <b>Position</b>: Wet Team Advisor<br>
                      <b>Major</b>: Department of Microbiology and Immunology<br>
                      <b>Favourite quote</b>: "Work hard, play hard."<br>
                      <b>Fun Fact</b>: I’ll turn our lab into a KTV when I’m alone.<br>
                    </p>
                    <button class="btn btn-outline-dark btn-sm align-self-end mt-auto" onclick="closeDimmer()" aria-label="close">Close</button>
                  </div>
                </div>
                <!---->
                <!--Jiacheng Xu-->
                <div class="intro-all">
                  <img src="#" title="click" class="normal w-100">
                  <img src="#" title="click" class="hover d-none w-100">
                  <div class="intro d-none">
                    <h3 class="card-title">David Chen</h3>
                    <p class="card-text">
                      <b>Position</b>: Wet Team Advisor<br>
                      <b>Major</b>: School of Medicine<br>
                      <b>Favourite quote</b>: "I did not hit her, it's not true! It's bullshit! I did not hit her! I did not! Oh hi, Mark"<br>
                      "Spam spam spam spam(crescendo through next few lines)"<br>
                      <b>Fun Fact</b>: When it comes to embarrassment, I am better than Brian.<br>
                    </p>
                    <button class="btn btn-outline-dark btn-sm align-self-end mt-auto" onclick="closeDimmer()" aria-label="close">Close</button>
                  </div>
                </div>
                
                <!---->
              </div>           
            </section>

            <!--Team member-->
            <section class="tMember-part">
              <h2>Team Member</h2>
              <div class="photo-wrapper d-flex justify-content-center flex-wrap w-100">
                <!--Hongwei Chen-->
                <div class="intro-all">
                  <img src="https://static.igem.wiki/teams/4242/wiki/team-member/chw.png" alt="" class="normal w-100"><!--Team shirt-->
                  <img src="https://static.igem.wiki/teams/4242/wiki/team-member/chw.png" alt="" class="hover d-none w-100">
                  <div class="intro d-none">
                    <h3 class="card-title">Hongwei Chen</h3>
                    <p class="card-text">
                      <b>Position</b>: Team Leader/HP Member/Wet Member<br>
                      <b>Major</b>: Biology<br>
                      <b>Age</b>: 21<br>
                      <b>E-mail</b>: 1104670198@qq.com<br>
                      <b>Hobby</b>: Playing games,Traveling<br>
                      <b>Favourite quote</b>: Give then get,get then give.<br>
                    </p>
                    <button class="btn btn-outline-dark btn-sm align-self-end mt-auto" onclick="closeDimmer()" aria-label="close">Close</button>
                  </div>
                </div>
                <!---->
                <!--Shuaiyu Chen-->
                <div class="intro-all">
                  <img src="https://static.igem.wiki/teams/4242/wiki/team-member/csy.png" title="click" class="normal w-100"><!--Team shirt-->
                  <img src="https://static.igem.wiki/teams/4242/wiki/team-member/csy.png" title="click" class="hover d-none w-100">
                  <div class="intro d-none">
                    <h3 class="card-title">Shuaiyu Chen</h3>
                    <p class="card-text">
                      <b>Position</b>: Team Leader/HP Member/Wet Member<br>
                      <b>Major</b>: Environmental Engineering<br>
                      <b>Age</b>: 20<br>
                      <b>E-mail</b>: 1965340602@qq.com<br>
                      <b>Hobby</b>: Ball game,E-game,Outdoor exercise<br>
                      <b>Favourite quote</b>: Life is like a drama.<br>
                    </p>
                    <button class="btn btn-outline-dark btn-sm align-self-end mt-auto" onclick="closeDimmer()" aria-label="close">Close</button>
                  </div>
                </div>
                <!---->
                <!--Zhelin Jiang-->
                <div class="intro-all">
                  <img src="https://static.igem.wiki/teams/4242/wiki/team-member/jzl.png" title="click" class="normal w-100"><!--Team shirt-->
                  <img src="https://static.igem.wiki/teams/4242/wiki/team-member/jzl.png" title="click" class="hover d-none w-100">
                  <div class="intro d-none">
                    <h3 class="card-title">Zhelin Jiang</h3>
                    <p class="card-text">
                      <b>Position</b>: Team Leader/HP Member/Wet Member<br>
                      <b>Major</b>: Environmental Engineering<br>
                      <b>Age</b>: 20<br>
                      <b>E-mail</b>: 2691466862@qq.com<br>
                      <b>Hobby</b>: Chinese national music,Playing chime bells and drums<br>
                      <b>Favourite quote</b>: There is heat, a light, make firefly general, can also send a little light in the dark, do not have to wait for the torch. And if there be no fire afterward: I am the only light.<br>
                    </p>
                    <button class="btn btn-outline-dark btn-sm align-self-end mt-auto" onclick="closeDimmer()" aria-label="close">Close</button>
                  </div>
                </div>
                <!---->
                <!--Xu Li-->
                <div class="intro-all">
                  <img src="https://static.igem.wiki/teams/4242/wiki/team-member/lx2.png" title="click" class="normal w-100"><!--Team shirt-->
                  <img src="https://static.igem.wiki/teams/4242/wiki/team-member/lx2.png" title="click" class="hover d-none w-100">
                  <div class="intro d-none">
                    <h3 class="card-title">Xu Li</h3>
                    <p class="card-text">
                      <b>Position</b>: Team Leader/HP Member/Wet Member<br>
                      <b>Major</b>: Biology<br>
                      <b>Age</b>: 19<br>
                      <b>E-mail</b>: L3079878493@outlook.com<br>
                      <b>Hobby</b>: Teavel<br>
                      <b>Favourite quote</b>: Passion is worth all difficultiies.<br>
                    </p>
                    <button class="btn btn-outline-dark btn-sm align-self-end mt-auto" onclick="closeDimmer()" aria-label="close">Close</button>
                  </div>
                </div>
                <!---->
                <!--Zifan Li-->
                <div class="intro-all">
                  <img src="https://static.igem.wiki/teams/4242/wiki/team-member/lzf.png" title="click" class="normal w-100"><!--Team shirt-->
                  <img src="https://static.igem.wiki/teams/4242/wiki/team-member/lzf.png" title="click" class="hover d-none w-100">
                  <div class="intro d-none">
                    <h3 class="card-title">Zifan Li</h3>
                    <p class="card-text">
                      <b>Position</b>: Team Leader/HP Member/Wet Member<br>
                      <b>Major</b>: Biology<br>
                      <b>Age</b>: 20<br>
                      <b>E-mail</b>: 507038657@qq.com<br>
                      <b>Hobby</b>: Digital painting,playing the saxphone<br>
                      <b>Favourite quote</b>: Three times to secure a success.<br>
                    </p>
                    <button class="btn btn-outline-dark btn-sm align-self-end mt-auto" onclick="closeDimmer()" aria-label="close">Close</button>
                  </div>
                </div>
                <!---->
                <!--Jiayi Liu-->
                <div class="intro-all">
                  <img src="https://static.igem.wiki/teams/4242/wiki/team-member/ljy.png" title="click" class="normal w-100"><!--Team shirt-->
                  <img src="https://static.igem.wiki/teams/4242/wiki/team-member/ljy.png" title="click" class="hover d-none w-100">
                  <div class="intro d-none">
                    <h3 class="card-title">Jia yi Liu</h3>
                    <p class="card-text">
                      <b>Position</b>: Team Leader/HP Member/Wet Member<br>
                      <b>Major</b>: Environmental Design<br>
                      <b>Age</b>: 22<br>
                      <b>E-mail</b>: 719234352@qq.com<br>
                      <b>Hobby</b>: Drawing <br>
                      <b>Favourite quote</b>: Time and tide wait no man.<br>
                    </p>
                    <button class="btn btn-outline-dark btn-sm align-self-end mt-auto" onclick="closeDimmer()" aria-label="close">Close</button>
                  </div>
                </div>
                <!---->
                <!--Jian Liu-->
                <div class="intro-all">
                  <img src="https://static.igem.wiki/teams/4242/wiki/team-member/lj2.png" title="click" class="normal w-100"><!--Team shirt-->
                  <img src="https://static.igem.wiki/teams/4242/wiki/team-member/lj2.png" title="click" class="hover d-none w-100">
                  <div class="intro d-none">
                    <h3 class="card-title">Jian Liu</h3>
                    <p class="card-text">
                      <b>Position</b>: Team Leader/HP Member/Wet Member<br>
                      <b>Major</b>: Biology<br>
                      <b>Age</b>: 23<br>
                      <b>E-mail</b>: LJM869751465@163.com<br>
                      <b>Hobby</b>: Reading novels<br>
                      <b>Favourite quote</b>: Imagination is it's own form of courage.<br>
                    </p>
                    <button class="btn btn-outline-dark btn-sm align-self-end mt-auto" onclick="closeDimmer()" aria-label="close">Close</button>
                  </div>
                </div>
                <!---->
                <!--Yuandong Liu-->
                <div class="intro-all">
                  <img src="https://static.igem.wiki/teams/4242/wiki/team-member/lyd.png" title="click" class="normal w-100"><!--Team shirt-->
                  <img src="https://static.igem.wiki/teams/4242/wiki/team-member/lyd.png" title="click" class="hover d-none w-100">
                  <div class="intro d-none">
                    <h3 class="card-title">Yuandong Liu</h3>
                    <p class="card-text">
                      <b>Position</b>: Team Leader/HP Member/Wet Member<br>
                      <b>Major</b>: Groundwater Science<br>
                      <b>Age</b>: 20<br>
                      <b>E-mail</b>: y2944liu@uwaterloo.ca<br>
                      <b>Hobby</b>: Swimming,Traveling<br>
                      <b>Favourite quote</b>: No cross, no crown.<br>
                    </p>
                    <button class="btn btn-outline-dark btn-sm align-self-end mt-auto" onclick="closeDimmer()" aria-label="close">Close</button>
                  </div>
                </div>
                <!---->
                <!--Yangjun Ma-->
                <div class="intro-all">
                  <img src="https://static.igem.wiki/teams/4242/wiki/team-member/myj.png" title="click" class="normal w-100"><!--Team shirt-->
                  <img src="https://static.igem.wiki/teams/4242/wiki/team-member/myj.png" title="click" class="hover d-none w-100">
                  <div class="intro d-none">
                    <h3 class="card-title">Yangjun Ma</h3>
                    <p class="card-text">
                      <b>Position</b>: Team Leader/HP Member/Wet Member<br>
                      <b>Major</b>: Groundwater Science<br>
                      <b>Age</b>: 20<br>
                      <b>E-mail</b>: y454ma@uwaterloo.ca<br>
                      <b>Hobby</b>: Photograpy<br>
                      <b>Favourite quote</b>: Time is not what you have, but how you use it.<br>
                    </p>
                    <button class="btn btn-outline-dark btn-sm align-self-end mt-auto" onclick="closeDimmer()" aria-label="close">Close</button>
                  </div>
                </div>
                <!---->
                <!--Qianqian Ren-->
                <div class="intro-all">
                  <img src="https://static.igem.wiki/teams/4242/wiki/team-member/rqq.png" title="click" class="normal w-100"><!--Team shirt-->
                  <img src="https://static.igem.wiki/teams/4242/wiki/team-member/rqq.png" title="click"  class="hover d-none w-100">
                  <div class="intro d-none">
                    <h3 class="card-title">Qianqian Ren</h3>
                    <p class="card-text">
                      <b>Position</b>: Team Leader/HP Member/Wet Member<br>
                      <b>Major</b>: Biology<br>
                      <b>Age</b>: 20<br>
                      <b>E-mail</b>: 2541909697@qq.com<br>
                      <b>Hobby</b>: Painting,Video clip,Reading<br>
                      <b>Favourite quote</b>: Think twice before acting.<br>
                    </p>
                    <button class="btn btn-outline-dark btn-sm align-self-end mt-auto" onclick="closeDimmer()" aria-label="close">Close</button>
                  </div>
                </div>
                <!---->
                <!--Yinghui Shao-->
                <div class="intro-all">
                  <img src="https://static.igem.wiki/teams/4242/wiki/team-member/syh.png" title="click" class="normal w-100"><!--Team shirt-->
                  <img src="https://static.igem.wiki/teams/4242/wiki/team-member/syh.png" title="click" class="hover d-none w-100">
                  <div class="intro d-none">
                    <h3 class="card-title">Hui Emmanuela Miriam</h3>
                    <p class="card-text">
                      <b>Position</b>: Team Leader/HP Member/Wet Member<br>
                      <b>Major</b>: Geo-information Engineering<br>
                      <b>Age</b>: 22<br>
                      <b>E-mail</b>: yinghuishao@yeah.net<br>
                      <b>Hobby</b>: Mountain climbing<br>
                      <b>Favourite quote</b>: Deeds are fruits, words are but leaves.<br>
                    </p>
                    <button class="btn btn-outline-dark btn-sm align-self-end mt-auto" onclick="closeDimmer()" aria-label="close">Close</button>
                  </div>
                </div>
                <!---->
                <!--Zhifei Tian-->
                <div class="intro-all">
                  <img src="https://static.igem.wiki/teams/4242/wiki/team-member/tzf.png" title="click" class="normal w-100"><!--Team shirt-->
                  <img src="https://static.igem.wiki/teams/4242/wiki/team-member/tzf.png" title="click" class="hover d-none w-100">
                  <div class="intro d-none">
                    <h3 class="card-title">Zhifei Tian</h3>
                    <p class="card-text">
                      <b>Position</b>: Team Leader/HP Member/Wet Member<br>
                      <b>Major</b>: Groundwater Science<br>
                      <b>Age</b>: 19<br>
                      <b>E-mail</b>: z59tian@uwaterloo.ca<br>
                      <b>Hobby</b>: Sports<br>
                      <b>Favourite quote</b>: Some birds aren't meant to be caged,Their feathers are just too bright.<br>
                    </p>
                    <button class="btn btn-outline-dark btn-sm align-self-end mt-auto" onclick="closeDimmer()" aria-label="close">Close</button>
                  </div>
                </div>
                <!---->
                <!--Zongheng Wei-->
                <div class="intro-all">
                  <img src="https://static.igem.wiki/teams/4242/wiki/team-member/wzh2.png" title="click" class="normal w-100"><!--Team shirt-->
                  <img src="https://static.igem.wiki/teams/4242/wiki/team-member/wzh2.png" title="click" class="hover d-none w-100">
                  <div class="intro d-none">
                    <h3 class="card-title">Zongheng Wei</h3>
                    <p class="card-text">
                      <b>Position</b>: Team Leader/HP Member/Wet Member<br>
                      <b>Major</b>: Environmental Engineering<br>
                      <b>Age</b>: 21<br>
                      <b>E-mail</b>: 2631566042@qq.com<br>
                      <b>Hobby</b>: Watching movies,Running<br>
                      <b>Favourite quote</b>: Why sleep long in life? You will sleep long after death.<br>
                    </p>
                    <button class="btn btn-outline-dark btn-sm align-self-end mt-auto" onclick="closeDimmer()" aria-label="close">Close</button>
                  </div>
                </div>
                <!---->
                <!--Linhai Xiao-->
                <div class="intro-all">
                  <img src="https://static.igem.wiki/teams/4242/wiki/team-member/xlh2.png" title="click" class="normal w-100"><!--Team shirt-->
                  <img src="https://static.igem.wiki/teams/4242/wiki/team-member/xlh2.png" title="click" class="hover d-none w-100">
                  <div class="intro d-none">
                    <h3 class="card-title">Linhai Xiao</h3>
                    <p class="card-text">
                      <b>Position</b>: Team Leader/HP Member/Wet Member<br>
                      <b>Major</b>: Biology & Law<br>
                      <b>Age</b>: 21<br>
                      <b>E-mail</b>: arieshamal@163.com<br>
                      <b>Hobby</b>: Drum, Sketch, Reading<br>
                      <b>Favourite quote</b>: We choose to go to the moon!<br>
                    </p>
                    <button class="btn btn-outline-dark btn-sm align-self-end mt-auto" onclick="closeDimmer()" aria-label="close">Close</button>
                  </div>
                </div>
                <!---->

                <!--Jiatong Yan-->
                <div class="intro-all">
                    <img src="https://static.igem.wiki/teams/4242/wiki/team-member/yjt.png" title="click" class="normal w-100"><!--Team shirt-->
                    <img src="https://static.igem.wiki/teams/4242/wiki/team-member/yjt.png" title="click" class="hover d-none w-100">
                    <div class="intro d-none">
                      <h3 class="card-title">Jiatong Yan</h3>
                      <p class="card-text">
                        <b>Position</b>: Team Leader/HP Member/Wet Member<br>
                        <b>Major</b>: Physics<br>
                        <b>Age</b>: 20 <br>
                        <b>E-mail</b>: jiatongyan1106@gmail.com<br>
                        <b>Hobby</b>: Calligraphy<br>
                        <b>Favourite quote</b>: Stay hungry, stay foolish.<br>
                      </p>
                      <button class="btn btn-outline-dark btn-sm align-self-end mt-auto" onclick="closeDimmer()" aria-label="close">Close</button>
                    </div>
                  </div>
                  <!---->
              



                <!--Yao Yao-->
                <div class="intro-all">
                  <img src="https://static.igem.wiki/teams/4242/wiki/team-member/yy.png" title="click" class="normal w-100"><!--Team shirt-->
                  <img src="https://static.igem.wiki/teams/4242/wiki/team-member/yy.png" title="click" class="hover d-none w-100">
                  <div class="intro d-none">
                    <h3 class="card-title">Yao Yao</h3>
                    <p class="card-text">
                      <b>Position</b>: Team Leader/HP Member/Wet Member<br>
                      <b>Major</b>: Environmental Engineering<br>
                      <b>Age</b>: 22 <br>
                      <b>E-mail</b>: yao.yao@cug.edu.cn<br>
                      <b>Hobby</b>: Rubik's clock; Host; Experimentalizing<br>
                      <b>Favourite quote</b>: Ideas are bulletproof.<br>
                    </p>
                    <button class="btn btn-outline-dark btn-sm align-self-end mt-auto" onclick="closeDimmer()" aria-label="close">Close</button>
                  </div>
                </div>
                <!---->
            
              <!--Ziwei Zhang-->
              <div class="intro-all">
                <img src="https://static.igem.wiki/teams/4242/wiki/team-member/zzw2.png" title="click" class="normal w-100"><!--Team shirt-->
                <img src="https://static.igem.wiki/teams/4242/wiki/team-member/zzw2.png" title="click" class="hover d-none w-100">
                <div class="intro d-none">
                  <h3 class="card-title">Ziwei Zhang</h3>
                  <p class="card-text">
                    <b>Position</b>: Team Leader/HP Member/Wet Member<br>
                    <b>Major</b>: Environmental Engineering<br>
                    <b>Age</b>: 19<br>
                    <b>E-mail</b>: zzw_03@126.com<br>
                    <b>Hobby</b>: Reading,Sleeping,Eating<br>
                    <b>Favourite quote</b>: If you cannot be a poet, be the poem.<br>
                  </p>
                  <button class="btn btn-outline-dark btn-sm align-self-end mt-auto" onclick="closeDimmer()" aria-label="close">Close</button>
                </div>
              </div>
                <!---->
              <!--Yi Zhong-->
              <div class="intro-all">
                <img src="https://static.igem.wiki/teams/4242/wiki/team-member/zy.png" title="click" class="normal w-100"><!--Team shirt-->
                <img src="https://static.igem.wiki/teams/4242/wiki/team-member/zy.png" title="click" class="hover d-none w-100">
                <div class="intro d-none">
                  <h3 class="card-title">Yi Zhong</h3>
                  <p class="card-text">
                    <b>Position</b>: Team Leader/HP Member/Wet Member<br>
                    <b>Major</b>: Environmental Design<br>
                    <b>Age</b>: 22<br>
                    <b>E-mail</b>: 919646327@qq.com<br>
                    <b>Hobby</b>: Skating,Reading<br>
                    <b>Favourite quote</b>: I went to the woods because I wanted to live deliberately.I wanted to live deep and suck out all the marrow of life.To put to rout all that was not life.And not,when I had come to die,discover that I had not lived.
                    <br>
                  </p>
                  <button class="btn btn-outline-dark btn-sm align-self-end mt-auto" onclick="closeDimmer()" aria-label="close">Close</button>
                </div>
              </div>
              <!---->
            <!--Shunhua Zhu-->
            <div class="intro-all">
              <img src="https://static.igem.wiki/teams/4242/wiki/team-member/zsh.png" title="click" class="normal w-100"><!--Team shirt-->
              <img src="https://static.igem.wiki/teams/4242/wiki/team-member/zsh.png" title="click" class="hover d-none w-100">
              <div class="intro d-none">
                <h3 class="card-title">Shunhua Zhu</h3>
                <p class="card-text">
                  <b>Position</b>: Team Leader/HP Member/Wet Member<br>
                  <b>Major</b>: Biology<br>
                  <b>Age</b>: 21<br>
                  <b>E-mail</b>: 1259133126@qq.com<br>
                  <b>Hobby</b>: Dance,sports<br>
                  <b>Favourite quote</b>: Learn and live.<br>
                </p>
                <button class="btn btn-outline-dark btn-sm align-self-end mt-auto" onclick="closeDimmer()" aria-label="close">Close</button>
              </div>
            </div>
        </div>  
                  </section>           
           </div>
              
          

            <!--Dimmer Part-->
            <div class="dimmer d-none justify-content-center align-items-center">
              <div class="card mb-3">
                <div class="row no-gutters">
                  <div class="col-md-5">
                    <img class="card-img" src="" alt="">
                  </div>
                  <div class="col-md-7 d-flex">
                    <div class="intro card-body d-flex flex-column align-self-stretch"></div>
                  </div>
                </div>
              </div> 
            </div>
            <!--here using js from static (5 hours)-->
            <script src="{{ url_for('static', filename = 'jquery-3_4_1_min.js') }}"></script>
            <script src="{{ url_for('static', filename = 'bootstrap_min.js') }}"></script>
            <script src="{{ url_for('static', filename = 'Team.js') }}"></script>
        </body>
    
        {% endblock %}
